In [1]:
import pandas as pd
import dateutil
import numpy as np
import re
import json

In [2]:
current_prod=pd.read_csv(
    "Chicago_Police_Department_Officers.csv",
parse_dates=["employment date"], dtype={"birth year": "Int64", "badge number": "Int64"}
).set_index("id", drop=False)

In [3]:
current_prod["middle initial"] = current_prod["middle initial"].fillna("").str.strip()

In [4]:
current_prod["last name"] = current_prod["last name"].str.strip()

In [5]:
current_prod["first name"] = current_prod["first name"].str.strip()

In [6]:
current_prod.head()

,id,unique identifier,last name,first name,middle initial,suffix,gender,race,birth year,employment date,badge number,job title,most recent salary
id,,,,,,,,,,,,,
17511,17511,NaN,KLICH,ROBERT,H,NaN,M,WHITE,1957,1982-08-30,5,COMMANDER,NaN
17750,17750,NaN,LAJEWSKI,ROBERT,J,NaN,M,WHITE,1959,1985-12-16,23,CAPTAIN OF POLICE,NaN
17749,17749,NaN,LAIDLAW,CRAIG,T,NaN,M,WHITE,1983,2013-03-05,17695,POLICE OFFICER,NaN
17748,17748,NaN,LAI,HENRY,H,NaN,M,ASIAN/PACIFIC ISLANDER,1971,2010-09-01,16486,POLICE OFFICER,NaN
17747,17747,NaN,LAHORI,JOHN,K,NaN,M,BLACK,1953,1990-07-30,9852,POLICE OFFICER,NaN

In [7]:
current_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11941 entries, 17511 to 11942
Data columns (total 13 columns):
id                    11941 non-null int64
unique identifier     0 non-null float64
last name             11941 non-null object
first name            11941 non-null object
middle initial        11941 non-null object
suffix                0 non-null float64
gender                11941 non-null object
race                  11941 non-null object
birth year            9699 non-null Int64
employment date       11941 non-null datetime64[ns]
badge number          11755 non-null Int64
job title             11941 non-null object
most recent salary    0 non-null float64
dtypes: Int64(2), datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 1.3+ MB

In [8]:
cpdp_profiles = pd.read_csv("final-profiles.csv",
                            dtype={4:"str", 15: "str", "birth_year": "Int64", "link_UID": "Int64",
                                  "current_status": "Int64", "current_star": "Int64",
                                  "current_unit": "Int64"},
                            parse_dates=["appointed_date", "resignation_date", "start_date", "org_hire_date"]
                           ).set_index("UID", drop=False)

In [9]:
cpdp_profiles[["first_name", "last_name", "middle_initial", "middle_initial2", "suffix_name",
               "current_rank", "cleaned_rank"]]=cpdp_profiles[["first_name", "last_name", "middle_initial", "middle_initial2", "suffix_name",
               "current_rank", "cleaned_rank"]].fillna("")

In [10]:
cpdp_profiles = cpdp_profiles.loc[:133667].copy() # tail end does not match cpdp online data

In [11]:
cpdp_profiles["middle_initial"]=cpdp_profiles["middle_initial"].fillna("").str.strip()

In [12]:
cpdp_profiles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33667 entries, 100001 to 133667
Data columns (total 20 columns):
UID                 33667 non-null int64
first_name          33667 non-null object
last_name           33667 non-null object
middle_initial      33667 non-null object
middle_initial2     33667 non-null object
suffix_name         33667 non-null object
birth_year          32562 non-null Int64
race                33477 non-null object
gender              33643 non-null object
appointed_date      33594 non-null datetime64[ns]
resignation_date    20194 non-null datetime64[ns]
current_status      31789 non-null Int64
current_star        15364 non-null Int64
current_unit        31606 non-null Int64
current_rank        33667 non-null object
start_date          18971 non-null datetime64[ns]
org_hire_date       19786 non-null datetime64[ns]
profile_count       33667 non-null int64
cleaned_rank        33667 non-null object
link_UID            33667 non-null Int64
dtypes: Int64(5), datetime64[ns](4), int64(2), object(9)
memory usage: 5.6+ MB

In [13]:
import re
def last_name_key(name):
    if name:
        n = re.sub(r"[^A-Z ]","",name.upper())
        pieces = n.split()
        if pieces[-1] in ["JR", "SR", "I", "II", "III", "IV"]:
            pieces = pieces[:-1]
        return "".join(pieces)
    return ""

In [14]:
cpdp_profiles["last_name_key"] = cpdp_profiles["last_name"].apply(last_name_key)

In [15]:
current_prod["last_name_key"]=current_prod["last name"].apply(last_name_key)

In [16]:
def get_match_weight_vector(pool, series, entry):
    if isinstance(entry, tuple):
        left, right, weight = entry
    else:
        raise Exception("Invalid key")
    res = (pool[right]==series[left]).astype("int")
    return res*weight

def match_number_from_keys(pool, series, keys):
    selection = None
    for entry in keys:
        selection_this_key=get_match_weight_vector(pool, series, entry)
        if selection is None:
            selection = selection_this_key
        else:
            selection += selection_this_key
    return selection
    
    
def attempt_merge(target, pool, min_match, keys, additional_keys=None):
    """
    Attempt to find a match in pool for each row in target
    """
    missed = []
    matched = []
    for idx, series in target.iterrows():
        matched_fields = match_number_from_keys(pool, series, keys)
        add_match_factor = match_number_from_keys(pool, series, additional_keys) / len(additional_keys)
        best_match=matched_fields.nlargest(n=2)
        match_number = best_match.max()
        if match_number < min_match:
            print(f"No match for {idx} - best match got {match_number}")
            missed += [(idx, [])]
            continue
        if match_number>best_match.min():
            
            match_idx = best_match.index[0]
            matched+=[{"left_idx": idx, "right_idx": match_idx,
                       "score": match_number+add_match_factor.loc[match_idx]}]
            continue
        print(f"Could not resolve multiple matches for {idx} - score: {match_number}")
        missed += [(idx, list(matched_fields[matched_fields>=match_number].index))]

    return {"matched": matched, "missed": missed}

## merge
Attempt merge between OpenOversight production data and cpdp officer data, using weights on the different attributes

In [17]:
merge_result=attempt_merge(current_prod, cpdp_profiles,5,
              [("first name","first_name",3),("last_name_key","last_name_key",3),
               ("employment date", "appointed_date",2),
             ("birth year", "birth_year",1),("badge number", "current_star",1),("middle initial", "middle_initial",1)],
             [("gender","gender",1),
              ("race", "race",1)])

Could not resolve multiple matches for 22151 - score: 9
Could not resolve multiple matches for 22723 - score: 9
Could not resolve multiple matches for 22785 - score: 10
Could not resolve multiple matches for 12472 - score: 10

In [18]:
merge_df = pd.DataFrame.from_dict(merge_result["matched"])

In [19]:
right_counts = merge_df.groupby("right_idx").size()
right_counts[right_counts>1]

right_idx
116946    2
dtype: int64

In [20]:
right_counts[right_counts>1].index

Int64Index([116946], dtype='int64', name='right_idx')

In [21]:
merge_df[merge_df["right_idx"].isin(right_counts[right_counts>1].index)]["left_idx"]

9915    13964
9916    13963
Name: left_idx, dtype: int64

In [22]:
double_values = list(merge_df[merge_df["right_idx"].isin(right_counts[right_counts>1].index)]["left_idx"])

In [23]:
missed_first_run = current_prod.loc[list([a for a,b in merge_result["missed"]]+double_values)]

In [24]:
missed_first_run

,id,unique identifier,last name,first name,middle initial,suffix,gender,race,birth year,employment date,badge number,job title,most recent salary,last_name_key
id,,,,,,,,,,,,,,
22151,22151,NaN,SPARANO,FREDERICK,K,NaN,M,WHITE,1985,1985-11-18,21233,PO AS DETECTIVE,NaN,SPARANO
22723,22723,NaN,TORRES,RICARDO,,NaN,M,WHITE HISPANIC,NaN,2014-05-27,16756,POLICE OFFICER,NaN,TORRES
22785,22785,NaN,TRIPOLI,JOSEPH,A,NaN,M,WHITE,1961,1994-07-05,20571,PO AS DETECTIVE,NaN,TRIPOLI
12472,12472,NaN,BANSLEY,JAMES,A,NaN,M,WHITE,1983,2009-12-16,8791,POLICE OFFICER,NaN,BANSLEY
13964,13964,NaN,CONNORS,KEVIN,M,NaN,M,WHITE,1975,1999-09-13,1182,SERGEANT OF POLICE,NaN,CONNORS
13963,13963,NaN,CONNORS,KEVIN,M,NaN,M,WHITE,1975,1999-09-13,1182,SERGEANT OF POLICE,NaN,CONNORS

In [25]:
merge_df=merge_df.drop(merge_df[merge_df["right_idx"].isin(right_counts[right_counts>1].index)].index)

In [26]:
missed_first_run

,id,unique identifier,last name,first name,middle initial,suffix,gender,race,birth year,employment date,badge number,job title,most recent salary,last_name_key
id,,,,,,,,,,,,,,
22151,22151,NaN,SPARANO,FREDERICK,K,NaN,M,WHITE,1985,1985-11-18,21233,PO AS DETECTIVE,NaN,SPARANO
22723,22723,NaN,TORRES,RICARDO,,NaN,M,WHITE HISPANIC,NaN,2014-05-27,16756,POLICE OFFICER,NaN,TORRES
22785,22785,NaN,TRIPOLI,JOSEPH,A,NaN,M,WHITE,1961,1994-07-05,20571,PO AS DETECTIVE,NaN,TRIPOLI
12472,12472,NaN,BANSLEY,JAMES,A,NaN,M,WHITE,1983,2009-12-16,8791,POLICE OFFICER,NaN,BANSLEY
13964,13964,NaN,CONNORS,KEVIN,M,NaN,M,WHITE,1975,1999-09-13,1182,SERGEANT OF POLICE,NaN,CONNORS
13963,13963,NaN,CONNORS,KEVIN,M,NaN,M,WHITE,1975,1999-09-13,1182,SERGEANT OF POLICE,NaN,CONNORS

In [27]:
remaining_profiles=cpdp_profiles.drop(merge_df["right_idx"])

In [28]:
merge_result_second=attempt_merge(missed_first_run, remaining_profiles,5,
              [("first name","first_name",3),("last_name_key","last_name_key",3),
               ("employment date", "appointed_date",2),
             ("birth year", "birth_year",1),("badge number", "current_star",1),("middle initial", "middle_initial",1)],
             [("gender","gender",1),
              ("race", "race",1)])

Could not resolve multiple matches for 22785 - score: 10

In [29]:
merge_result_second["missed"]

[(22785, [115847, 115848])]

In [30]:
merge_result_second["matched"]

[{'left_idx': 22151, 'right_idx': 109110, 'score': 9.5},
 {'left_idx': 22723, 'right_idx': 124059, 'score': 9.0},
 {'left_idx': 12472, 'right_idx': 111205, 'score': 10.5},
 {'left_idx': 13964, 'right_idx': 116946, 'score': 11.5},
 {'left_idx': 13963, 'right_idx': 116946, 'score': 11.5}]

In [31]:
right_counts = pd.DataFrame.from_dict(merge_result_second["matched"]+merge_result["matched"]).groupby("right_idx").size()
right_counts[right_counts>1]

right_idx
116946    4
dtype: int64

In [32]:
cpdp_profiles.loc[[116946, 116945]]

,UID,first_name,last_name,middle_initial,middle_initial2,suffix_name,birth_year,race,gender,appointed_date,...,current_status,current_star,current_unit,current_rank,start_date,org_hire_date,profile_count,cleaned_rank,link_UID,last_name_key
UID,,,,,,,,,,,,,,,,,,,,,
116946,116946,KEVIN,CONNORS,M,,,1975,WHITE,MALE,1999-09-13,...,1,1182,8,SERGEANT OF POLICE,1999-09-13,1999-09-13,13,SERGEANT,5204,CONNORS
116945,116945,KEVIN,CONNORS,M,,,1967,WHITE,MALE,1999-09-13,...,1,15151,7,POLICE OFFICER,1999-09-13,1999-09-13,10,POLICE OFFICER,5205,CONNORS

In [33]:
current_prod.loc[[13963, 13964]]

,id,unique identifier,last name,first name,middle initial,suffix,gender,race,birth year,employment date,badge number,job title,most recent salary,last_name_key
id,,,,,,,,,,,,,,
13963,13963,NaN,CONNORS,KEVIN,M,NaN,M,WHITE,1975,1999-09-13,1182,SERGEANT OF POLICE,NaN,CONNORS
13964,13964,NaN,CONNORS,KEVIN,M,NaN,M,WHITE,1975,1999-09-13,1182,SERGEANT OF POLICE,NaN,CONNORS

In [34]:
manually_assigned = [
    {"left_idx": 22785, "right_idx": 115848},
    {"left_idx": 13963, "right_idx": 116945},
    {"left_idx": 13964, "right_idx": 116946}
]

In [35]:
all_matched = merge_result["matched"]+merge_result_second["matched"]+manually_assigned

In [36]:
all_matched_df = pd.DataFrame.from_dict(all_matched).groupby("right_idx").last().reset_index()

In [37]:
all_matched_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11941 entries, 0 to 11940
Data columns (total 3 columns):
right_idx    11941 non-null int64
left_idx     11941 non-null int64
score        11939 non-null float64
dtypes: float64(1), int64(2)
memory usage: 279.9 KB

In [38]:
all_matched_df["left_idx"].is_unique

True

In [39]:
all_matched_df["right_idx"].is_unique

True

# merge & validate

In [40]:
all_merge = current_prod.merge(
    all_matched_df, left_index=True, right_on="left_idx", how="left"
).join(
    cpdp_profiles, how="left", on="right_idx", lsuffix="_oos", rsuffix="_cpdp"
)

In [41]:
all_merge

,id,unique identifier,last name,first name,middle initial,suffix,gender_oos,race_oos,birth year,employment date,...,current_status,current_star,current_unit,current_rank,start_date,org_hire_date,profile_count,cleaned_rank,link_UID,last_name_key_cpdp
9124,17511,NaN,KLICH,ROBERT,H,NaN,M,WHITE,1957,1982-08-30,...,1,5,1,COMMANDER,1982-08-30,1982-08-30,9,COMMANDER,14808,KLICH
9130,17750,NaN,LAJEWSKI,ROBERT,J,NaN,M,WHITE,1959,1985-12-16,...,0,23,26,CAPTAIN OF POLICE,1985-12-16,1985-12-16,10,CAPTAIN,15569,LAJEWSKI
1847,17749,NaN,LAIDLAW,CRAIG,T,NaN,M,WHITE,1983,2013-03-05,...,1,17695,3,POLICE OFFICER,2013-03-05,2013-03-05,9,POLICE OFFICER,15568,LAIDLAW
3829,17748,NaN,LAI,HENRY,H,NaN,M,ASIAN/PACIFIC ISLANDER,1971,2010-09-01,...,1,10025,24,POLICE OFFICER,2010-09-01,2010-09-01,12,POLICE OFFICER,15567,LAI
4893,17747,NaN,LAHORI,JOHN,K,NaN,M,BLACK,1953,1990-07-30,...,0,9852,51,POLICE OFFICER,1990-07-30,1990-07-30,9,POLICE OFFICER,15565,LAHORI
9607,17746,NaN,LAGUNAS,SAMUEL,,NaN,M,WHITE HISPANIC,NaN,2005-09-26,...,1,19202,124,POLICE OFFICER,2005-09-26,2005-09-26,12,POLICE OFFICER,15561,LAGUNAS
173,17745,NaN,LAGUNAS,ALEJANDRO,,NaN,M,WHITE HISPANIC,NaN,2002-10-28,...,1,9916,11,POLICE OFFICER,2002-10-28,2002-10-28,12,POLICE OFFICER,15562,LAGUNAS
608,17744,NaN,LAFATA,ANTHONY,B,NaN,M,WHITE,1967,1995-06-05,...,1,7176,16,POLICE OFFICER,1995-06-05,1995-06-05,11,POLICE OFFICER,15553,LAFATA
6835,17743,NaN,LADUZINSKY,MARK,J,NaN,M,WHITE,1966,1995-01-03,...,1,17231,261,POLICE OFFICER,1995-01-03,1995-01-03,12,POLICE OFFICER,15552,LADUZINSKY
9525,17742,NaN,LADD,RYAN,M,NaN,M,WHITE,1977,2001-05-29,...,1,11878,50,POLICE OFFICER,2001-05-29,2001-05-29,12,POLICE OFFICER,15546,LADD
11222,17741,NaN,LACZ,WOJCIECH,,NaN,M,WHITE,NaN,2003-09-29,...,0,15609,189,PO,2003-09-29,2003-09-29,10,POLICE OFFICER,15544,LACZ
9673,17740,NaN,LACY,SCOTT,M,NaN,M,WHITE,1981,2015-08-31,...,1,17388,7,POLICE OFFICER,2015-08-31,2015-08-31,6,POLICE OFFICER,15541,LACY
10947,17739,NaN,LACNY,VINCENT,M,NaN,M,WHITE,1976,2001-05-29,...,1,10835,353,POLICE OFFICER,2001-05-29,2001-05-29,11,POLICE OFFICER,15537,LACNY
7979,17738,NaN,LACNY,NICHOLAS,A,NaN,M,WHITE,1981,2004-11-29,...,1,6980,4,POLICE OFFICER,2004-11-29,2004-11-29,9,POLICE OFFICER,15539,LACNY
11629,17737,NaN,LACKO,ELIAS,,NaN,M,WHITE,NaN,2001-08-27,...,NaN,11575,189,PO,2001-08-27,2001-08-27,10,POLICE OFFICER,32120,LACKO
9385,17736,NaN,LACKAGE JR,RONALD,J,NaN,M,WHITE,1980,2003-01-27,...,1,8535,145,POLICE OFFICER,2003-01-27,2003-01-27,12,POLICE OFFICER,15534,LACKAGE
6834,17724,NaN,LA CIVITA,MARK,A,NaN,M,WHITE,1972,2006-05-01,...,1,15136,15,POLICE OFFICER,2006-05-01,2006-05-01,11,POLICE OFFICER,15487,LACIVITA
9587,17735,NaN,LACINA,SAMANTHA,I,NaN,F,WHITE,1989,2015-02-02,...,1,14260,25,POLICE OFFICER,2015-02-02,2015-02-02,7,POLICE OFFICER,15533,LACINA
7460,17734,NaN,LACHANCE,MICHAEL,J,NaN,M,WHITE,1971,2004-04-26,...,1,19619,11,POLICE OFFICER,2004-04-26,2004-04-26,12,POLICE OFFICER,15531,LACHANCE
1116,17733,NaN,LACEY,BRIAN,P,NaN,M,WHITE,1989,2012-11-30,...,1,18494,25,POLICE OFFICER,2012-11-30,2012-11-30,12,POLICE OFFICER,15528,LACEY
3913,17732,NaN,LACEFIELD,INEASIE,,NaN,F,BLACK,NaN,2002-03-25,...,1,16036,5,POLICE OFFICER,2002-03-25,2002-03-25,10,POLICE OFFICER,15525,LACEFIELD
6653,17731,NaN,LABRIZZI,MARGARET,S,NaN,F,WHITE,1965,2000-09-11,...,1,14117,15,POLICE OFFICER,2000-09-11,2000-09-11,11,POLICE OFFICER,15522,LABRIZZI
3855,17730,NaN,LABOY JR,HERNAN,,NaN,M,WHITE HISPANIC,NaN,1990-03-26,...,1,19177,701,POLICE OFFICER,1990-03-26,1990-03-26,10,POLICE OFFICER,15519,LABOY
3254,17729,NaN,LABOY,EVELYN,,NaN,F,WHITE HISPANIC,NaN,1991-05-22,...,0,NaN,25,POLICE OFFICER,1991-05-22,1991-05-22,6,POLICE OFFICER,15518,LABOY
5780,17723,NaN,LA BONTE,KELLEY,J,NaN,F,WHITE,1968,1996-11-04,...,1,15155,12,POLICE OFFICER,1996-11-04,1996-11-04,11,POLICE OFFICER,15482,LABONTE
11122,17728,NaN,LABERN,WILLIAM,F,NaN,M,WHITE,1970,1994-05-02,...,1,5172,14,POLICE OFFICER,1994-05-02,1994-05-02,12,POLICE OFFICER,15514,LABERN
366,17727,NaN,LABELLE,ANDREA,M,NaN,F,WHITE,1964,1991-12-02,...,1,20190,630,PO AS DETECTIVE,1991-12-02,1991-12-02,7,DETECTIVE,15512,LABELLE
4189,17726,NaN,LABBE,JAMES,C,NaN,M,WHITE,1979,2001-07-30,...,1,624,7,LIEUTENANT OF POLICE,2001-07-30,2001-07-30,12,LIEUTENANT,15511,LABBE
8111,17722,NaN,KWONG,NORMAN,P,NaN,M,ASIAN/PACIFIC ISLANDER,1970,1998-05-26,...,1,2514,177,SERGEANT OF POLICE,1998-05-26,1998-05-26,11,SERGEANT,15477,KWONG
5337,17721,NaN,KWIATKOWSKI III,JOSEPH,J,NaN,M,WHITE,1984,2007-06-04,...,1,17550,3,POLICE OFFICER,2007-06-04,2007-06-04,10,POLICE OFFICER,15473,KWIATKOWSKI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8602,11971,NaN,ACEVEDO,RAFAEL,,NaN,M,WHITE HISPANIC,NaN,2001-05-29,...,1,14467,19,POLICE OFFICER,2001-05-29,2001-05-29,10,POLICE OFFICER,47,ACEVEDO
7877,11970,NaN,ACEVEDO,NADINE,M,NaN,F,WHITE HISPANIC,1963,2000-09-11,...,1,9476,17,POLICE OFFICER,2000-09-11,2000-09-11,7,POLICE OFFICER,50,ACEVEDO
6933,11969,NaN,ACEVEDO,MARTIN,J,NaN,M,WHITE HISPANIC,1973,1999-05-10,...,1,9561,10,POLICE OFFICER,1999-05-10,1999-05-10,12,POLICE OFFICER,61,ACEVEDO
6607,11968,NaN,ACEVEDO,MARCO,A,NaN,M,WHITE HISPANIC,1969,1995-09-05,...,1,20137,384,PO AS DETECTIVE,1995-09-05,1995-09-05,11,DETECTIVE,44,ACEVEDO
4432,11967,NaN,ACEVEDO,JEFF,,NaN,M,WHITE HISPANIC,NaN,1995-02-06,...,1,19029,14,POLICE OFFICER,1995-02-06,1995-02-06,10,POLICE OFFICER,54,ACEVEDO
4336,11966,NaN,ACEVEDO,JASON,M,NaN,M,WHITE HISPANIC,1978,2002-07-29,...,1,11683,10,POLICE OFFICER,2002-07-29,2002-07-29,11,POLICE OFFICER,60,ACEVEDO
4321,11965,NaN,ACEVEDO,JANETE,,NaN,F,WHITE HISPANIC,NaN,2009-12-16,...,1,12327,6,POLICE OFFICER,2009-12-16,2009-12-16,11,POLICE OFFICER,62,ACEVEDO
3910,11964,NaN,ACEVEDO,ILIA,,NaN,F,WHITE HISPANIC,NaN,2013-05-01,...,1,10955,15,POLICE OFFICER,2013-05-01,2013-05-01,7,POLICE OFFICER,53,ACEVEDO
3075,11963,NaN,ACEVEDO,ERIC,A,NaN,M,WHITE HISPANIC,1978,2015-02-02,...,1,13560,11,POLICE OFFICER,2015-02-02,2015-02-02,6,POLICE OFFICER,57,ACEVEDO
2855,11962,NaN,ACEVEDO,EDWARD,,NaN,M,WHITE HISPANIC,NaN,2003-10-27,...,1,4853,16,POLICE OFFICER,2003-10-27,2003-10-27,12,POLICE OFFICER,51,ACEVEDO
1741,11961,NaN,ACEVEDO,CLARISSA,,NaN,F,WHITE HISPANIC,NaN,1986-12-22,...,0,NaN,18,POLICE OFFICER,1986-12-22,1986-12-22,7,POLICE OFFICER,48,ACEVEDO
946,11960,NaN,ACEVEDO,BIENVENID,,NaN,M,WHITE HISPANIC,NaN,1999-03-08,...,1,6380,15,POLICE OFFICER,1999-03-08,1999-03-08,12,POLICE OFFICER,52,ACEVEDO
162,11959,NaN,ACEVEDO,ALEJANDRO,R,NaN,M,WHITE HISPANIC,1972,2005-09-26,...,1,15760,17,POLICE OFFICER,2005-09-26,2005-09-26,12,POLICE OFFICER,49,ACEVEDO
0,11958,NaN,ACEVEDO,AARON,F,NaN,M,WHITE HISPANIC,1982,2009-12-16,...,1,7792,11,POLICE OFFICER,2009-12-16,2009-12-16,11,POLICE OFFICER,56,ACEVEDO
10341,11957,NaN,ACCARDO,THOMAS,J,NaN,M,WHITE,1967,2001-04-30,...,1,3392,24,POLICE OFFICER,2001-04-30,2001-04-30,12,POLICE OFFICER,42,ACCARDO
4523,11956,NaN,ACCARDO,JENNIFER,A,NaN,F,WHITE,1979,2004-11-29,...,1,9248,24,POLICE OFFICER,2004-11-29,2004-11-29,10,POLICE OFFICER,41,ACCARDO
21,11955,NaN,ABUZANAT,ABDALLA,H,NaN,M,ASIAN/PACIFIC ISLANDER,1971,1998-06-29,...,1,20777,630,PO AS DETECTIVE,1998-06-29,1998-06-29,11,DETECTIVE,38,ABUZANAT
7830,11954,NaN,ABURIZEG,MOHAMMAD,R,NaN,M,WHITE,1989,2015-08-31,...,1,10876,4,POLICE OFFICER,2015-08-31,2015-08-31,6,POLICE OFFICER,37,ABURIZEG
2970,11953,NaN,ABUDAYEH,ELIAS,M,NaN,M,WHITE,1981,2015-02-23,...,1,12960,24,POLICE OFFICER,2015-02-23,2015-02-23,7,POLICE OFFICER,36,ABUDAYEH
3308,11952,NaN,ABRON,FLOYD,,NaN,M,BLACK,NaN,1998-06-29,...,1,12861,1,POLICE OFFICER,1998-06-29,1998-06-29,11,POLICE OFFICER,34,ABRON
3823,11951,NaN,ABRAMS,HENRY,L,NaN,M,BLACK,1963,1986-06-16,...,0,11485,50,POLICE OFFICER,1986-06-16,1986-06-16,10,POLICE OFFICER,29,ABRAMS
7884,11950,NaN,ABRAHAM,NANCY,A,NaN,F,ASIAN/PACIFIC ISLANDER,1986,2014-04-28,...,1,16579,11,POLICE OFFICER,2014-04-28,2014-04-28,9,POLICE OFFICER,25,ABRAHAM
8242,11949,NaN,ABNEY,PATRICK,R,NaN,M,WHITE,1990,2015-06-29,...,1,11360,17,POLICE OFFICER,2015-06-29,2015-06-29,6,POLICE OFFICER,23,ABNEY
4335,11948,NaN,ABEJERO,JASON,V,NaN,M,ASIAN/PACIFIC ISLANDER,1976,1999-10-25,...,1,14237,19,POLICE OFFICER,1999-10-25,1999-10-25,12,POLICE OFFICER,18,ABEJERO
849,11947,NaN,ABDELMAJEID,AZIZ,,NaN,M,ASIAN/PACIFIC ISLANDER,NaN,2008-04-28,...,1,14008,1,POLICE OFFICER,2008-04-28,2008-04-28,11,POLICE OFFICER,16,ABDELMAJEID
11309,11946,NaN,ABDELHADI,ABDALMAHD,,NaN,M,WHITE,NaN,2006-12-18,...,NaN,7147,191,PO,2006-12-18,2006-12-18,9,POLICE OFFICER,31791,ABDELHADI
11281,11945,NaN,ABDALLAH,ZAID,F,NaN,M,WHITE,1983,2012-11-30,...,1,17673,6,POLICE OFFICER,2012-11-30,2012-11-30,11,POLICE OFFICER,15,ABDALLAH
10296,11944,NaN,ABBATE,TERRY,M,NaN,M,WHITE,1972,1995-12-04,...,1,19596,16,POLICE OFFICER,1995-12-04,1995-12-04,11,POLICE OFFICER,7,ABBATE
5662,11943,NaN,AARON,KARINA,,NaN,F,WHITE HISPANIC,NaN,2005-09-26,...,1,20373,630,POLICE OFFICER,2005-09-26,2005-09-26,13,POLICE OFFICER,2,AARON
4436,11942,NaN,AARON,JEFFERY,M,NaN,M,WHITE,1971,2005-09-26,...,1,1424,16,SERGEANT OF POLICE,2005-09-26,2005-09-26,10,SERGEANT,1,AARON

In [42]:
len(all_merge) == len(current_prod)

True

In [43]:
import jellyfish
def comp_custom(func):
    def comp_cust(x):
        a = x.iloc[0]
        b = x.iloc[1]
        if pd.isna(a):
            if pd.isna(b):
                return -2
            else:
                return -1
        elif pd.isna(b):
            return -1
        else:
            return func(a,b)
    return comp_cust

def comp_obj(x):
    return comp_custom(lambda a,b: 1-int(a==b))(x)

def comp_str(x):
    return comp_custom(jellyfish.levenshtein_distance)(x)

In [44]:
all_merge["first_name_comp"]=all_merge[["first name", "first_name"]].apply(comp_str, axis=1)

In [45]:
all_merge["last_name_comp"]=all_merge[["last_name_key_oos", "last_name_key_cpdp"]].apply(comp_str, axis=1)

In [46]:
all_merge["middle_initial_comp"]=all_merge[["middle initial", "middle_initial"]].apply(comp_str, axis=1)

In [47]:
all_merge["gender_comp"]=all_merge[["gender_oos", "gender_cpdp"]].apply(
    comp_custom(lambda a,b: int(a!=b[0])), axis=1)

In [48]:
all_merge["race_comp"]=all_merge[["race_oos", "race_cpdp"]].apply(
    comp_custom(lambda a,b: 1-int(a.endswith(b) or ("NATIVE" in a and "NATIVE" in b))), axis=1)

In [49]:
all_merge["birth_year_comp"]=all_merge[["birth year", "birth_year"]].apply(comp_obj, axis=1)

In [50]:
all_merge["rank_comp"]=all_merge[["job title", "current_rank"]].apply(comp_str, axis=1)

In [51]:
all_merge["employment_date_comp"]=all_merge[["employment date", "appointed_date"]].apply(comp_obj, axis=1)

In [52]:
all_merge["badge_number_comp"]=all_merge[["badge number", "current_star"]].apply(comp_obj, axis=1)

In [53]:
rel_columns=["id", "last name", "last_name","last_name_key_oos",
             "first name","first_name","first_name_comp",
             "middle initial", "middle_initial","middle_initial2","middle_initial_comp",
             "gender_oos","gender_cpdp", "gender_comp",
             "race_oos","race_cpdp","race_comp",
            "birth year", "birth_year", "birth_year_comp",
             "job title","current_rank","cleaned_rank",
             "employment date", "appointed_date","start_date", "org_hire_date","employment_date_comp",
             "badge number", "current_star","badge_number_comp",
             "UID",  
             "suffix_name", 
            "resignation_date",   
            "last_name_key_cpdp", "last_name_comp"]

In [54]:
all_merge[rel_columns][all_merge["last_name_comp"]>=3]

,id,last name,last_name,last_name_key_oos,first name,first_name,first_name_comp,middle initial,middle_initial,middle_initial2,...,org_hire_date,employment_date_comp,badge number,current_star,badge_number_comp,UID,suffix_name,resignation_date,last_name_key_cpdp,last_name_comp
2166,17277,KAPPEL DONEGAN,KAPPEL,KAPPELDONEGAN,DANIELLE,DANIELLE,0,M,M,,...,2000-08-14,0,18761,18761,0,105247,,NaT,KAPPEL,7
6712,16681,HORAN,HORAN-DAWSON,HORAN,MARIANNE,MARIANNE,0,,,,...,1999-03-08,0,5777,5777,0,118941,,NaT,HORANDAWSON,6
4015,18451,MARSHALL,BAILEY,MARSHALL,JADA,JADA,0,M,M,,...,2006-07-16,0,4997,4997,0,111115,,NaT,BAILEY,7
9874,18812,MCFARLAND,ROSENTHALL,MCFARLAND,SHEILA,SHEILA,0,L,L,,...,1995-02-06,0,18957,18957,0,127461,,NaT,ROSENTHALL,9
9896,19802,ODUNSI,ODUNSI-CRAWL,ODUNSI,SHERRY,SHERRY,0,T,T,,...,2002-09-30,0,5855,20158,1,127507,,NaT,ODUNSICRAWL,5
3645,19834,OLIVARES,VERA,OLIVARES,GLORIA,GLORIA,0,,,,...,2010-04-16,0,7691,7691,0,109965,,NaT,VERA,6
10168,19926,ORTIZ-CLAUDIO,ORTIZ,ORTIZCLAUDIO,SUSIE,SUSIE,0,E,E,,...,1994-10-03,0,18551,18551,0,128223,,NaT,ORTIZ,7
3253,21180,ROLDAN,GRUBE,ROLDAN,EVELYN,EVELYN,0,,,,...,2005-09-26,0,11676,11676,0,108422,,NaT,GRUBE,6
8119,21237,ROSADO,RODRIGUEZ,ROSADO,NYVEA,NYVEA,0,I,I,,...,2007-07-09,0,15539,15539,0,121977,,NaT,RODRIGUEZ,7
8750,21355,RUTLEDGE,RUTLEDGE-WILLIS,RUTLEDGE,REGINA,REGINA,0,D,D,,...,1999-03-08,0,6485,6485,0,123883,,NaT,RUTLEDGEWILLIS,6
7157,21640,SCHMIDT,GILLEN,SCHMIDT,MAUREEN,MAUREEN,0,H,H,,...,1986-10-13,0,6031,NaN,-1,119838,,2017-05-15,GILLEN,7
736,21830,SHERPETIS,LARSON,SHERPETIS,APRIL,APRIL,0,H,H,,...,2004-01-26,0,4944,4944,0,101686,,NaT,LARSON,8
3756,22435,SWENSON,WARREN,SWENSON,HANNAH,HANNAH,0,M,M,,...,2015-04-06,0,15243,15243,0,110239,,NaT,WARREN,5
7871,22436,SWIATKOWSKI,BUGARIN,SWIATKOWSKI,MYRIAN,MYRIAN,0,M,M,,...,2001-03-26,0,4159,4159,0,121430,,NaT,BUGARIN,10
2806,22640,TIILMON,HOLLOMAN,TIILMON,EBONIE,EBONIE,0,C,C,,...,2014-02-18,0,18930,18930,0,107096,,NaT,HOLLOMAN,5
6214,22870,UNZUETA,CREAMER,UNZUETA,LAUREN,LAUREN,0,C,C,,...,1995-08-23,0,5718,5718,0,117480,,NaT,CREAMER,7
2645,22961,VARGA,KLAUS,VARGA,DIANA,DIANA,0,S,S,,...,2014-09-29,0,15865,15865,0,106416,,NaT,KLAUS,5
9423,22982,VASQUEZ,RIVERA,VASQUEZ,ROSA,ROSA,0,M,M,,...,2002-12-02,0,8346,8346,0,126491,,NaT,RIVERA,7
486,23113,VITERI,ARROYO,VITERI,ANGELICA,ANGELICA,0,,,,...,2005-12-05,0,14342,14342,0,101092,,NaT,ARROYO,6
4688,23193,WALLACE,PIERCE,WALLACE,JLYNN,JLYNN,0,,,,...,2005-01-03,0,8266,8266,0,113209,,NaT,PIERCE,5
319,23203,WALSH,CAREY,WALSH,AMY,AMY,0,E,E,,...,2000-08-14,0,7379,7379,0,100794,,NaT,CAREY,4
7915,23308,WATSON,KAUR,WATSON,NAVJOT,NAVJOT,0,,,,...,2006-05-22,0,9983,9983,0,121555,,NaT,KAUR,5
11461,23535,WILLIAMS,EDWARDS,WILLIAMS,TRACEY,TRACEY,0,A,A,,...,2007-07-30,0,4947,4947,0,131946,,NaT,EDWARDS,7
6463,16567,HILL,THURMOND HILL,HILL,LOUISE,LOUISE,0,T,T,,...,1991-06-19,0,9700,NaN,-1,118447,,2016-08-15,THURMONDHILL,8
7883,16329,HARRIS,SEARLES,HARRIS,NAKIA,NAKIA,0,B,B,,...,2012-12-14,0,10402,NaN,-1,121457,,NaT,SEARLES,4
3653,16137,GUTIERREZ,HANSEN,GUTIERREZ,GRACIBEL,GRACIBEL,0,,G,,...,2004-10-25,0,5512,5512,0,109985,,NaT,HANSEN,8
6379,15904,GONZALEZ,GUZMAN,GONZALEZ,LISA,LISA,0,,,,...,2014-05-27,0,16701,16701,0,118178,,NaT,GUZMAN,6
7900,15731,GIBSON,BRANTLEY,GIBSON,NAOMI,NAOMI,0,F,F,,...,2000-02-28,0,4820,4820,0,121500,,NaT,BRANTLEY,8
523,15372,FOX,MARSHALL,FOX,ANNA,ANNA,0,M,M,,...,1990-03-26,0,7156,7156,0,101171,,NaT,MARSHALL,8
8058,15195,FIGUEROA,VELAZQUEZ,FIGUEROA,NICOLE,NICOLE,0,S,S,,...,2006-02-21,0,13385,13385,0,121832,,NaT,VELAZQUEZ,9
9634,15109,FAZY,MC NAMARA,FAZY,SARA,SARA,0,E,E,,...,2006-09-25,0,15026,15026,0,127054,,NaT,MCNAMARA,7
7379,14209,CRUZ GARBO,GARBO,CRUZGARBO,MICHAEL,MICHAEL,0,A,A,,...,1995-01-03,0,5587,5587,0,120370,,NaT,GARBO,4
5735,14194,CRUMP,IVORY,CRUMP,KATINA,KATINA,0,,,,...,1999-05-10,0,10550,10550,0,116490,,NaT,IVORY,5
3538,13659,CHAVEZ,CUMMINGS,CHAVEZ,GEORGINA,GEORGINA,0,A,A,,...,1993-11-22,0,15449,15449,0,109659,,NaT,CUMMINGS,7
3011,13096,BROWN,VACI,BROWN,ELIZABETH,ELIZABETH,0,M,M,,...,2013-11-25,0,17655,17655,0,107858,,NaT,VACI,5
10825,12729,BEY,BRADLEY,BEY,NACALA,VALENA,4,M,M,,...,1989-12-26,0,17810,17810,0,129956,,NaT,BRADLEY,4

In [55]:
len(_)

36

In [56]:
all_merge[rel_columns][all_merge["first_name_comp"]>=3]

,id,last name,last_name,last_name_key_oos,first name,first_name,first_name_comp,middle initial,middle_initial,middle_initial2,...,org_hire_date,employment_date_comp,badge number,current_star,badge_number_comp,UID,suffix_name,resignation_date,last_name_key_cpdp,last_name_comp
3184,18448,MARSH,MARSH,MARSH,ERIN E M,ERIN,5,,E,M,...,1991-11-18,0,14440,14440,0,108158,,2017-01-15,MARSH,0
4012,19101,MIZERA,MIZERA,MIZERA,JACKIE,JACQUELINE,5,M,M,,...,2005-09-26,0,5037,20259,1,111109,,NaT,MIZERA,0
3882,22655,TO,TO,TO,HO,HOYIN,3,Y,T,,...,2015-08-31,0,NaN,19426,-1,110774,,NaT,TO,0
8684,13598,CERDA,CERDA,CERDA,RAUL JR,RAUL,3,,,,...,2000-12-18,0,15848,15848,0,123584,JR,NaT,CERDA,0
5507,13562,CAUINIAN,CAUINIAN,CAUINIAN,JUAN A G,JUAN,4,,A,G,...,1999-11-29,0,7275,7275,0,115998,,NaT,CAUINIAN,0
10825,12729,BEY,BRADLEY,BEY,NACALA,VALENA,4,M,M,,...,1989-12-26,0,17810,17810,0,129956,,NaT,BRADLEY,4

In [57]:
all_merge[rel_columns][all_merge["gender_comp"]!=0]

Empty DataFrame
Columns: [id, last name, last_name, last_name_key_oos, first name, first_name, first_name_comp, middle initial, middle_initial, middle_initial2, middle_initial_comp, gender_oos, gender_cpdp, gender_comp, race_oos, race_cpdp, race_comp, birth year, birth_year, birth_year_comp, job title, current_rank, cleaned_rank, employment date, appointed_date, start_date, org_hire_date, employment_date_comp, badge number, current_star, badge_number_comp, UID, suffix_name, resignation_date, last_name_key_cpdp, last_name_comp]
Index: []

[0 rows x 36 columns]

In [58]:
all_merge[rel_columns][all_merge["race_comp"]!=0]

,id,last name,last_name,last_name_key_oos,first name,first_name,first_name_comp,middle initial,middle_initial,middle_initial2,...,org_hire_date,employment_date_comp,badge number,current_star,badge_number_comp,UID,suffix_name,resignation_date,last_name_key_cpdp,last_name_comp
7988,19662,NUNEZ,NUNEZ,NUNEZ,NICHOLAS,NICHOLAS,0,E,E,,...,2010-09-01,0,13672,13672,0,121704,,NaT,NUNEZ,0
3299,21208,ROMERO,ROMERO,ROMERO,FERNANDO,FERNANDO,0,,,,...,2015-02-23,0,13223,13223,0,108530,,NaT,ROMERO,0
5095,16159,GUZMAN,GUZMAN,GUZMAN,JONATHAN,JONATHAN,0,B,B,,...,2014-09-29,0,15766,15766,0,114930,,NaT,GUZMAN,0

In [59]:
all_merge[rel_columns][all_merge["birth_year_comp"]>0]

,id,last name,last_name,last_name_key_oos,first name,first_name,first_name_comp,middle initial,middle_initial,middle_initial2,...,org_hire_date,employment_date_comp,badge number,current_star,badge_number_comp,UID,suffix_name,resignation_date,last_name_key_cpdp,last_name_comp
4176,17358,KELLY,KELLY,KELLY,JAMES,JAMES,0,M,M,,...,1993-12-13,0,21121,21121,0,111735,,NaT,KELLY,0
11592,17106,JOHNSON,JOHNSON,JOHNSON,WARREN,WARREN,0,D,D,,...,2004-09-27,0,17442,17442,0,132081,,NaT,JOHNSON,0
3685,16914,JACOBS,JACOBS,JACOBS,GREGORY,GREGORY,0,S,S,,...,1999-07-12,0,17440,17440,0,110070,,NaT,JACOBS,0
10430,16765,HUGHES,HUGHES,HUGHES,THOMAS,THOMAS,0,J,J,,...,2000-08-14,0,18449,18449,0,129000,,NaT,HUGHES,0
4873,16705,HOWARD,HOWARD,HOWARD,JOHN,JOHN,0,D,D,,...,2013-07-15,0,15524,15524,0,113929,,NaT,HOWARD,0
5198,18124,LOPEZ,LOPEZ,LOPEZ,JOSE,JOSE,0,L,L,,...,2006-05-01,0,11943,11943,0,115080,,NaT,LOPEZ,0
8905,18171,LOSIK,LOSIK,LOSIK,RICHARD,RICHARD,0,F,F,,...,1998-06-29,0,991,991,0,124358,,NaT,LOSIK,0
7474,18244,LYNCH,LYNCH,LYNCH,MICHAEL,MICHAEL,0,F,F,,...,1991-06-19,0,21278,21278,0,120602,,NaT,LYNCH,0
7498,18511,MARTINEZ,MARTINEZ,MARTINEZ,MICHAEL,MICHAEL,0,A,A,,...,1998-08-31,0,19064,19064,0,120640,,NaT,MARTINEZ,0
5666,18587,MATTSON,MATTSON,MATTSON,KARL,KARL,0,M,M,,...,2002-12-02,0,3615,3615,0,116332,,NaT,MATTSON,0
7506,18624,MC CAFFERTY,MC CAFFERTY,MCCAFFERTY,MICHAEL,MICHAEL,0,J,J,,...,1999-03-08,0,9216,9216,0,120659,,NaT,MCCAFFERTY,0
8313,18625,MC CAFFERTY,MC CAFFERTY,MCCAFFERTY,PATRICK,PATRICK,0,J,J,,...,1986-08-11,0,20173,20173,0,122506,,NaT,MCCAFFERTY,0
4205,18694,MC GOVERN,MC GOVERN,MCGOVERN,JAMES,JAMES,0,F,F,,...,1999-05-10,0,1255,558,1,111891,,NaT,MCGOVERN,0
6619,18943,MENDOZA,MENDOZA,MENDOZA,MARCO,MARCO,0,A,A,,...,2006-08-28,0,6783,6783,0,118780,,NaT,MENDOZA,0
2076,19031,MILLER,MILLER,MILLER,DANIEL,DANIEL,0,J,J,,...,1996-03-18,0,19476,19476,0,105059,,NaT,MILLER,0
4934,19036,MILLER,MILLER,MILLER,JOHN,JOHN,0,R,R,,...,1993-05-17,0,17359,17359,0,114259,,NaT,MILLER,0
4942,19392,MURPHY,MURPHY,MURPHY,JOHN,JOHN,0,J,J,,...,2001-08-27,0,2040,393,1,114307,,NaT,MURPHY,0
9152,19404,MURPHY,MURPHY,MURPHY,ROBERT,ROBERT,0,A,A,,...,1994-08-01,0,20915,20915,0,125446,,NaT,MURPHY,0
10476,19411,MURPHY,MURPHY,MURPHY,THOMAS,THOMAS,0,J,J,,...,1999-09-13,0,12829,12829,0,129204,,NaT,MURPHY,0
9154,19428,MURRAY,MURRAY,MURRAY,ROBERT,ROBERT,0,J,J,,...,2010-09-01,0,16496,16496,0,125451,,2016-09-02,MURRAY,0
2082,19673,O BRIEN,O BRIEN,OBRIEN,DANIEL,DANIEL,0,M,M,,...,2002-09-30,0,1636,1636,0,105078,,NaT,OBRIEN,0
11161,19685,O BRIEN,O BRIEN,OBRIEN,WILLIAM,WILLIAM,0,M,M,,...,2002-10-28,0,9564,9564,0,131301,,NaT,OBRIEN,0
2083,19695,O CONNOR,O CONNOR,OCONNOR,DANIEL,DANIEL,0,J,J,,...,2001-12-17,0,1251,605,1,105083,,NaT,OCONNOR,0
10484,19702,O CONNOR,O CONNOR,OCONNOR,THOMAS,THOMAS,0,J,J,,...,1985-11-18,0,1085,1085,0,129234,,2016-05-17,OCONNOR,0
7552,19712,O DONNELL,O DONNELL,ODONNELL,MICHAEL,MICHAEL,0,J,J,,...,1987-03-09,0,20629,20629,0,120785,,NaT,ODONNELL,0
3463,19855,OLSON,OLSON,OLSON,GARY,GARY,0,M,M,,...,1997-08-04,0,20113,20113,0,109265,,NaT,OLSON,0
9167,19930,OSBORNE,OSBORNE,OSBORNE,ROBERT,ROBERT,0,J,J,,...,2001-07-30,0,12117,1316,1,125508,,NaT,OSBORNE,0
6979,19958,OTTEN,OTTEN,OTTEN,MARVIN,MARVIN,0,F,F,,...,2000-10-10,0,2773,2773,0,119471,,NaT,OTTEN,0
8113,19994,PADALINO,PADALINO,PADALINO,NORMAN,NORMAN,0,A,A,,...,2000-08-14,0,20426,20426,0,121955,,NaT,PADALINO,0
3765,20193,PEETE,PEETE,PEETE,HAROLD,HAROLD,0,W,W,,...,2012-12-14,0,10867,10867,0,110301,,NaT,PEETE,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3713,23552,WILLIAMSON,WILLIAMSON,WILLIAMSON,GREGORY,GREGORY,0,S,S,,...,1991-06-19,0,4618,4618,0,110142,,NaT,WILLIAMSON,0
8961,23600,WISER,WISER,WISER,RICHARD,RICHARD,0,W,W,,...,1990-03-26,0,2030,656,1,124635,,NaT,WISER,0
2337,16394,HAYNES,HAYNES,HAYNES,DAVID,DAVID,0,J,J,,...,1995-07-10,0,458,458,0,105614,,NaT,HAYNES,0
3329,15884,GONZALEZ,GONZALEZ,GONZALEZ,FRANCISCO,FRANCISCO,0,J,J,,...,2002-12-02,0,16782,16782,0,108658,,NaT,GONZALEZ,0
5599,15585,GARCIA,GARCIA,GARCIA,JULIO,JULIO,0,C,C,,...,2012-10-05,0,9714,9714,0,116178,,NaT,GARCIA,0
11493,15508,GALLAGHER,GALLAGHER,GALLAGHER,MICHAEL,MICHAEL,0,J,J,,...,1998-12-14,0,12713,12713,0,131978,,NaT,GALLAGHER,0
2021,15502,GALLAGHER,GALLAGHER,GALLAGHER,DANIEL,DANIEL,0,A,A,,...,2000-10-10,0,1303,1303,0,104909,,2016-08-29,GALLAGHER,0
11486,15438,FRIGO,FRIGO,FRIGO,TERRY,TERRY,0,R,R,,...,2003-10-27,0,8585,8585,0,131971,,NaT,FRIGO,0
2317,15187,FIETKO,FIETKO,FIETKO,DAVID,DAVID,0,R,R,,...,2002-04-29,0,5012,20170,1,105559,,NaT,FIETKO,0
5294,14938,ELFAYER,ELFAYER,ELFAYER,JOSEPH,JOSEPH,0,M,M,,...,1998-04-13,0,3760,3760,0,115358,,NaT,ELFAYER,0
9067,14861,DWORAK,DWORAK,DWORAK,ROBERT,ROBERT,0,J,J,,...,1991-12-02,0,12339,12339,0,124988,,NaT,DWORAK,0
3348,14763,DOYLE,DOYLE,DOYLE,FRANK,FRANK,0,J,J,,...,2003-02-24,0,2926,2926,0,108755,,NaT,DOYLE,0
10394,14757,DOWNES,DOWNES,DOWNES,THOMAS,THOMAS,0,M,M,,...,1987-03-09,0,20639,20639,0,128850,,NaT,DOWNES,0
4124,14630,DILLON,DILLON,DILLON,JAMES,JAMES,0,J,J,,...,2000-08-14,0,17331,17331,0,111444,,NaT,DILLON,0
1074,14572,DEVAN,DEVAN,DEVAN,BRIAN,BRIAN,0,J,J,,...,2000-09-11,0,1589,1589,0,102570,,NaT,DEVAN,0
4116,14317,DALY,DALY,DALY,JAMES,JAMES,0,M,M,,...,1999-10-25,0,9691,9691,0,111418,,NaT,DALY,0
7050,14308,DALLIO,DALLIO,DALLIO,MATTHEW,MATTHEW,0,J,J,,...,2005-09-26,0,11325,11325,0,119689,,NaT,DALLIO,0
4114,14257,CUSACK,CUSACK,CUSACK,JAMES,JAMES,0,J,J,,...,1995-09-05,0,13831,13831,0,111410,,NaT,CUSACK,0
9052,14229,CUMMINGS,CUMMINGS,CUMMINGS,ROBERT,ROBERT,0,E,E,,...,2015-06-29,0,13465,13465,0,124926,,NaT,CUMMINGS,0
5932,13963,CONNORS,CONNORS,CONNORS,KEVIN,KEVIN,0,M,M,,...,1999-09-13,0,1182,15151,1,116945,,NaT,CONNORS,0
1062,13899,COLLINS,COLLINS,COLLINS,BRIAN,BRIAN,0,D,D,,...,2012-11-30,0,16590,16590,0,102554,,NaT,COLLINS,0
9041,13792,CLARK,CLARK,CLARK,ROBERT,ROBERT,0,J,J,,...,2013-08-26,0,2795,2795,0,124883,,NaT,CLARK,0
383,13521,CASSARO,CASSARO,CASSARO,ANDREW,ANDREW,0,M,M,,...,1997-03-17,0,3057,3057,0,100911,JR,NaT,CASSARO,0
11078,13467,CARROLL,CARROLL,CARROLL,WILLIAM,WILLIAM,0,J,J,,...,1999-11-29,0,7066,7066,0,130833,,NaT,CARROLL,0
4775,13354,CAMPBELL,CAMPBELL,CAMPBELL,JOHN,JOHN,0,T,T,,...,1995-09-05,0,21279,21279,0,113478,,NaT,CAMPBELL,0
11071,12999,BRANNIGAN,BRANNIGAN,BRANNIGAN,WILLIAM,WILLIAM,0,J,J,,...,1994-07-05,0,2655,310,1,130789,,NaT,BRANNIGAN,0
4071,12984,BRANCH,BRANCH,BRANCH,JAMES,JAMES,0,E,E,,...,1993-11-22,0,16264,16264,0,111254,,NaT,BRANCH,0
7258,12755,BILINA,BILINA,BILINA,MICHAEL,MICHAEL,0,J,J,,...,2010-09-01,0,6269,6269,0,120078,,NaT,BILINA,0
5250,12526,BARRERA,BARRERA,BARRERA,JOSEPH,JOSEPH,0,A,A,,...,1986-10-13,0,21769,21769,0,115186,,2016-03-15,BARRERA,0
4049,11996,ADE,ADE,ADE,JAMES,JAMES,0,P,P,,...,1987-04-13,0,2593,2593,0,111168,,NaT,ADE,0

In [60]:
all_merge[rel_columns][all_merge["middle_initial_comp"]>0]

,id,last name,last_name,last_name_key_oos,first name,first_name,first_name_comp,middle initial,middle_initial,middle_initial2,...,org_hire_date,employment_date_comp,badge number,current_star,badge_number_comp,UID,suffix_name,resignation_date,last_name_key_cpdp,last_name_comp
11629,17737,LACKO,LACKO,LACKO,ELIAS,ELIAS,0,,D,,...,2001-08-27,0,11575,11575,0,132119,,NaT,LACKO,0
2583,17606,KOUNAVIS,KOUNAVIS,KOUNAVIS,DENNIS,DENNIS,0,,N,,...,1996-11-04,0,19175,19175,0,106210,,NaT,KOUNAVIS,0
8302,17396,KENNING,KENNING,KENNING,PATRICK,PATRICK,0,,J,,...,2007-07-30,0,8302,8302,0,122474,,NaT,KENNING,0
3840,17338,KEELER,KEELER,KEELER,HERBERT,HERBERT,0,,M,,...,1999-05-10,0,3729,3729,0,110606,,NaT,KEELER,0
1107,17256,KANE,KANE,KANE,BRIAN,BRIAN,0,,P,,...,2001-02-05,0,1815,1815,0,102617,,NaT,KANE,0
10721,17173,JONES,JONES,JONES,TOMMIE,TOMMIE,0,,W,,...,1999-12-13,0,6268,6268,0,129763,,NaT,JONES,0
10612,17172,JONES,JONES,JONES,TIMOTHY,TIMOTHY,0,,P,,...,2006-02-21,0,12266,12266,0,129589,,NaT,JONES,0
10262,17170,JONES,JONES,JONES,TERESA,TERESA,0,,A,,...,2007-06-04,0,8704,8704,0,128405,,NaT,JONES,0
11589,17060,JOHNSON,JOHNSON,JOHNSON,EDWARD,EDWARD,0,,J,,...,2003-08-25,0,9539,9539,0,132078,,NaT,JOHNSON,0
9941,16983,JARZAB,JARZAB,JARZAB,SOPHIE,SOPHIE,0,,T,,...,2006-08-28,0,7741,7741,0,127621,,NaT,JARZAB,0
4695,16970,JAROMIN,JAROMIN,JAROMIN,JOANNA,JOANNA,0,,A,,...,1999-03-08,0,16390,16390,0,113237,,NaT,JAROMIN,0
5195,16968,JARA,JARA,JARA,JOSE,JOSE,0,,J,,...,1997-05-05,0,17406,17406,0,115075,,NaT,JARA,0
11238,16736,HUAMANI,HUAMANI,HUAMANI,YENE,YENE,0,,M,,...,1999-09-13,0,14158,14158,0,131680,,NaT,HUAMANI,0
8891,16692,HOULIHAN,HOULIHAN,HOULIHAN,RICHARD,RICHARD,0,,M,,...,1996-03-18,0,19555,19555,0,124270,,NaT,HOULIHAN,0
10301,16678,HOPKINS,HOPKINS,HOPKINS,TERRY,TERRY,0,,D,,...,2007-10-29,0,6872,6872,0,128500,,NaT,HOPKINS,0
2778,17751,LAKICH,LAKICH,LAKICH,DRAGAN,DRAGAN,0,,L,,...,1992-01-02,0,363,363,0,106995,,2017-01-06,LAKICH,0
3183,17823,LAUESEN,LAUESEN,LAUESEN,ERIN,ERIN,0,,M,,...,2004-04-26,0,16625,16625,0,108157,,NaT,LAUESEN,0
7465,17852,LAZZARO,LAZZARO,LAZZARO,MICHAEL,MICHAEL,0,,J,,...,1982-03-01,0,2154,2154,0,120581,,NaT,LAZZARO,0
1661,17975,LIAKOPOULOS,LIAKOPOULOS,LIAKOPOULOS,CHRISTOPH,CHRISTOPH,0,,J,,...,2001-09-24,0,20940,2681,1,104082,,NaT,LIAKOPOULOS,0
6977,18063,LOFTON,LOFTON,LOFTON,MARVIN,MARVIN,0,,D,,...,2001-07-30,0,7868,7868,0,119466,,NaT,LOFTON,0
2992,18111,LOPEZ,LOPEZ,LOPEZ,ELIZABETH,ELIZABETH,0,,S,,...,2007-06-04,0,9122,9122,0,107829,,NaT,LOPEZ,0
77,18152,LOPEZ JR,LOPEZ,LOPEZ,ADOLFO,ADOLFO,0,,E,,...,1999-08-02,0,12139,12139,0,100141,JR,NaT,LOPEZ,0
7160,18248,LYONS,LYONS,LYONS,MAUREEN,MAUREEN,0,,A,,...,1995-12-04,0,14539,14539,0,119845,,NaT,LYONS,0
8499,18277,MADERER,MADERER,MADERER,PETER,PETER,0,,R,,...,1994-10-03,0,21246,21246,0,123028,,NaT,MADERER,0
9863,18386,MANNION,MANNION,MANNION,SHEAMUS,SHEAMUS,0,,B,,...,2000-01-24,0,1376,314,1,127438,,NaT,MANNION,0
7794,18388,MANNOTT,MANNOTT,MANNOTT,MIKE,MIKE,0,,F,,...,2002-03-25,0,15691,15691,0,121265,,NaT,MANNOTT,0
3358,18408,MARCHESE,MARCHESE,MARCHESE,FRANK,FRANK,0,,A,,...,1995-06-05,0,18440,18440,0,108850,,NaT,MARCHESE,0
3184,18448,MARSH,MARSH,MARSH,ERIN E M,ERIN,5,,E,M,...,1991-11-18,0,14440,14440,0,108158,,2017-01-15,MARSH,0
11301,18592,MATYSIAK,MATYSIAK,MATYSIAK,ZUZANNA,ZUZANNA,0,,K,,...,2007-04-02,0,6353,6353,0,131782,,NaT,MATYSIAK,0
11672,18675,MC DONOUGH,MC DONOUGH,MCDONOUGH,PATRICK,PATRICK,0,,J,,...,1996-07-08,0,14416,14416,0,132166,,NaT,MCDONOUGH,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2989,14843,DUNNE,DUNNE,DUNNE,ELIZABETH,ELIZABETH,0,,M,,...,1995-08-07,0,16706,16706,0,107820,,NaT,DUNNE,0
9719,14702,DONAHUE,DONAHUE,DONAHUE,SEAN,SEAN,0,,T,,...,2004-10-25,0,17275,17275,0,127200,,NaT,DONAHUE,0
11442,14664,DOBEK,DOBEK,DOBEK,MIROSLAW,MIROSLAW,0,,K,,...,1995-08-07,0,2002,2002,0,131927,,NaT,DOBEK,0
704,14613,DICARLO,DICARLO,DICARLO,ANTONIO,ANTONIO,0,,R,,...,2000-12-18,0,17638,17638,0,101642,,NaT,DICARLO,0
5170,14516,DELEON,DELEON,DELEON,JOSE,JOSE,0,,M,,...,2006-12-18,0,14421,14421,0,115039,,NaT,DELEON,0
2223,14477,DEHAAN,DEHAAN,DEHAAN,DARREN,DARREN,0,,W,,...,1998-06-29,0,14203,21340,1,105356,,NaT,DEHAAN,0
783,14373,DAVIS,DAVIS,DAVIS,ARTHUR,ARTHUR,0,,R,,...,2000-12-18,0,21110,21110,0,101803,,NaT,DAVIS,0
8530,14180,CROSBY,CROSBY,CROSBY,PHILIP,PHILIP,0,,C,,...,2000-12-18,0,6994,6994,0,123125,,NaT,CROSBY,0
7313,13866,COLBERT,COLBERT,COLBERT,MICHAEL,MICHAEL,0,,T,,...,1996-07-08,0,19947,19947,0,120197,,NaT,COLBERT,0
10070,13752,CIECIEL,CIECIEL,CIECIEL,STEVEN,STEVEN,0,,D,,...,1999-09-13,0,1515,1515,0,127996,,NaT,CIECIEL,0
6676,13667,CHAVOLLA,CHAVOLLA,CHAVOLLA,MARIA,MARIA,0,,C,,...,2003-10-27,0,9360,9360,0,118880,,NaT,CHAVOLLA,0
9547,13593,CEPHAS,CEPHAS,CEPHAS,RYDELL,RYDELL,0,,J,,...,1992-12-07,0,16994,16994,0,126806,,NaT,CEPHAS,0
5507,13562,CAUINIAN,CAUINIAN,CAUINIAN,JUAN A G,JUAN,4,,A,G,...,1999-11-29,0,7275,7275,0,115998,,NaT,CAUINIAN,0
560,13418,CARLOS,CARLOS,CARLOS,ANTHONY,ANTHONY,0,,S,,...,2001-10-29,0,14918,14918,0,101273,,NaT,CARLOS,0
6053,13278,C0NNOLLY,C0NNOLLY,CNNOLLY,KIMBERLY,KIMBERLY,0,,K,,...,1990-07-30,0,11026,11026,0,117163,,NaT,CNNOLLY,0
2540,13223,BURLEIGH,BURLEIGH,BURLEIGH,DEMEKA,DEMEKA,0,,D,,...,2005-12-05,0,6690,6690,0,106067,,NaT,BURLEIGH,0
346,13192,BULLOCK,BULLOCK,BULLOCK,ANDRE,ANDRE,0,,E,,...,1990-03-26,0,5574,5574,0,100828,,NaT,BULLOCK,0
10364,13023,BRESNAHAN,BRESNAHAN,BRESNAHAN,THOMAS,THOMAS,0,,W,,...,2005-09-26,0,10182,10182,0,128716,,NaT,BRESNAHAN,0
6403,12824,BLESSING,BLESSING,BLESSING,LIZETTE,LIZETTE,0,,L,,...,2004-10-25,0,18668,18668,0,118215,,NaT,BLESSING,0
9984,12656,BELTRAN,BELTRAN,BELTRAN,STEPHANIE,STEPHANIE,0,,P,,...,2006-12-18,0,9323,9323,0,127759,,NaT,BELTRAN,0
6775,12596,BEAN,BEAN,BEAN,MARK,MARK,0,,R,,...,1998-10-26,0,15092,15092,0,119073,,NaT,BEAN,0
3869,12405,BAHMANDEJI,BAHMANDEJI,BAHMANDEJI,HOOTAN,HOOTAN,0,,N,,...,1990-03-26,0,91,91,0,110702,,NaT,BAHMANDEJI,0
10983,12332,ASKAR,ASKAR,ASKAR,WAHBE,WAHBE,0,,A,,...,2011-10-17,0,8156,8156,0,130357,,NaT,ASKAR,0
7237,12184,AMATO,AMATO,AMATO,MICHAEL,MICHAEL,0,,J,,...,2004-11-29,0,14196,20078,1,120036,,NaT,AMATO,0
4052,12114,ALLEN,ALLEN,ALLEN,JAMES,JAMES,0,,W,,...,2003-08-25,0,2007,2007,0,111175,,NaT,ALLEN,0
5245,12092,ALFARO,ALFARO,ALFARO,JOSEPH,JOSEPH,0,,S,,...,2001-02-05,0,13813,13813,0,115162,,NaT,ALFARO,0
6050,12086,ALEXANDER,ALEXANDER,ALEXANDER,KIMBERLY,KIMBERLY,0,,T,,...,1991-11-18,0,9103,9103,0,117159,,NaT,ALEXANDER,0
2263,12066,ALCAZAR,ALCAZAR,ALCAZAR,DAVID,DAVID,0,,E,,...,2005-08-29,0,11798,11798,0,105432,,NaT,ALCAZAR,0
148,12060,ALBARRAN,ALBARRAN,ALBARRAN,ALBERTO,ALBERTO,0,,S,,...,1992-09-28,0,17915,17915,0,100372,,NaT,ALBARRAN,0
3777,12047,AL AMIN,AL AMIN,ALAMIN,HASAN,HASAN,0,,M,,...,1995-12-04,0,9183,9183,0,110407,,NaT,ALAMIN,0

In [61]:
all_merge[rel_columns][all_merge["rank_comp"]==0]

,id,last name,last_name,last_name_key_oos,first name,first_name,first_name_comp,middle initial,middle_initial,middle_initial2,...,org_hire_date,employment_date_comp,badge number,current_star,badge_number_comp,UID,suffix_name,resignation_date,last_name_key_cpdp,last_name_comp
9124,17511,KLICH,KLICH,KLICH,ROBERT,ROBERT,0,H,H,,...,1982-08-30,0,5,5,0,125255,,NaT,KLICH,0
9130,17750,LAJEWSKI,LAJEWSKI,LAJEWSKI,ROBERT,ROBERT,0,J,J,,...,1985-12-16,0,23,23,0,125287,,2016-12-15,LAJEWSKI,0
1847,17749,LAIDLAW,LAIDLAW,LAIDLAW,CRAIG,CRAIG,0,T,T,,...,2013-03-05,0,17695,17695,0,104530,,NaT,LAIDLAW,0
3829,17748,LAI,LAI,LAI,HENRY,HENRY,0,H,H,,...,2010-09-01,0,16486,10025,1,110545,,NaT,LAI,0
4893,17747,LAHORI,LAHORI,LAHORI,JOHN,JOHN,0,K,K,,...,1990-07-30,0,9852,9852,0,114072,,2016-03-15,LAHORI,0
9607,17746,LAGUNAS,LAGUNAS,LAGUNAS,SAMUEL,SAMUEL,0,,,,...,2005-09-26,0,19202,19202,0,126965,,NaT,LAGUNAS,0
173,17745,LAGUNAS,LAGUNAS,LAGUNAS,ALEJANDRO,ALEJANDRO,0,,,,...,2002-10-28,0,9916,9916,0,100411,,NaT,LAGUNAS,0
608,17744,LAFATA,LAFATA,LAFATA,ANTHONY,ANTHONY,0,B,B,,...,1995-06-05,0,7176,7176,0,101394,,NaT,LAFATA,0
6835,17743,LADUZINSKY,LADUZINSKY,LADUZINSKY,MARK,MARK,0,J,J,,...,1995-01-03,0,17231,17231,0,119168,,NaT,LADUZINSKY,0
9525,17742,LADD,LADD,LADD,RYAN,RYAN,0,M,M,,...,2001-05-29,0,11878,11878,0,126778,,NaT,LADD,0
9673,17740,LACY,LACY,LACY,SCOTT,SCOTT,0,M,M,,...,2015-08-31,0,NaN,17388,-1,127131,,NaT,LACY,0
10947,17739,LACNY,LACNY,LACNY,VINCENT,VINCENT,0,M,M,,...,2001-05-29,0,10835,10835,0,130239,,NaT,LACNY,0
7979,17738,LACNY,LACNY,LACNY,NICHOLAS,NICHOLAS,0,A,A,,...,2004-11-29,0,6980,6980,0,121686,,NaT,LACNY,0
9385,17736,LACKAGE JR,LACKAGE,LACKAGE,RONALD,RONALD,0,J,J,,...,2003-01-27,0,8535,8535,0,126295,JR,NaT,LACKAGE,0
6834,17724,LA CIVITA,LA CIVITA,LACIVITA,MARK,MARK,0,A,A,,...,2006-05-01,0,15136,15136,0,119167,,NaT,LACIVITA,0
9587,17735,LACINA,LACINA,LACINA,SAMANTHA,SAMANTHA,0,I,I,,...,2015-02-02,0,14260,14260,0,126909,,NaT,LACINA,0
7460,17734,LACHANCE,LACHANCE,LACHANCE,MICHAEL,MICHAEL,0,J,J,,...,2004-04-26,0,19619,19619,0,120568,,NaT,LACHANCE,0
1116,17733,LACEY,LACEY,LACEY,BRIAN,BRIAN,0,P,P,,...,2012-11-30,0,18494,18494,0,102630,,NaT,LACEY,0
3913,17732,LACEFIELD,LACEFIELD,LACEFIELD,INEASIE,INEASIE,0,,,,...,2002-03-25,0,16036,16036,0,110852,,NaT,LACEFIELD,0
6653,17731,LABRIZZI,LABRIZZI,LABRIZZI,MARGARET,MARGARET,0,S,S,,...,2000-09-11,0,14117,14117,0,118844,,NaT,LABRIZZI,0
3855,17730,LABOY JR,LABOY,LABOY,HERNAN,HERNAN,0,,,,...,1990-03-26,0,10920,19177,1,110669,JR,2017-05-15,LABOY,0
3254,17729,LABOY,LABOY,LABOY,EVELYN,EVELYN,0,,,,...,1991-05-22,0,10282,NaN,-1,108423,,2016-10-15,LABOY,0
5780,17723,LA BONTE,LA BONTE,LABONTE,KELLEY,KELLEY,0,J,J,,...,1996-11-04,0,15155,15155,0,116568,,NaT,LABONTE,0
11122,17728,LABERN,LABERN,LABERN,WILLIAM,WILLIAM,0,F,F,,...,1994-05-02,0,5172,5172,0,131125,,NaT,LABERN,0
366,17727,LABELLE,LABELLE,LABELLE,ANDREA,ANDREA,0,M,M,,...,1991-12-02,0,20190,20190,0,100868,,NaT,LABELLE,0
8111,17722,KWONG,KWONG,KWONG,NORMAN,NORMAN,0,P,P,,...,1998-05-26,0,2514,2514,0,121946,,NaT,KWONG,0
5337,17721,KWIATKOWSKI III,KWIATKOWSKI,KWIATKOWSKI,JOSEPH,JOSEPH,0,J,J,,...,2007-06-04,0,17550,17550,0,115505,III,NaT,KWIATKOWSKI,0
5338,17720,KWIATKOWSKI,KWIATKOWSKI,KWIATKOWSKI,JOSEPH,JOSEPH,0,J,J,,...,1995-07-10,0,17678,17678,0,115507,,NaT,KWIATKOWSKI,0
8535,17719,KWASINSKI,KWASINSKI,KWASINSKI,PHILIP,PHILIP,0,L,L,,...,1986-06-16,0,110,110,0,123154,,NaT,KWASINSKI,0
6833,17718,KWASINSKI,KWASINSKI,KWASINSKI,MARK,MARK,0,,,,...,1986-03-31,0,17243,17243,0,119166,,2016-04-15,KWASINSKI,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6360,11974,ACHILLY,ACHILLY,ACHILLY,LISA,LISA,0,S,S,,...,1996-05-06,0,19875,19875,0,118154,,NaT,ACHILLY,0
544,11973,ACEVEZ,ACEVEZ,ACEVEZ,ANTHONY,ANTHONY,0,E,E,,...,1997-05-05,0,18154,18154,0,101219,,NaT,ACEVEZ,0
5497,11972,ACEVES,ACEVES,ACEVES,JUAN,JUAN,0,C,C,,...,2003-11-24,0,NaN,18603,-1,115980,,NaT,ACEVES,0
8602,11971,ACEVEDO,ACEVEDO,ACEVEDO,RAFAEL,RAFAEL,0,,,,...,2001-05-29,0,14467,14467,0,123369,,NaT,ACEVEDO,0
7877,11970,ACEVEDO,ACEVEDO,ACEVEDO,NADINE,NADINE,0,M,M,,...,2000-09-11,0,9476,9476,0,121447,,NaT,ACEVEDO,0
6933,11969,ACEVEDO,ACEVEDO,ACEVEDO,MARTIN,MARTIN,0,J,J,,...,1999-05-10,0,9561,9561,0,119333,,NaT,ACEVEDO,0
6607,11968,ACEVEDO,ACEVEDO,ACEVEDO,MARCO,MARCO,0,A,A,,...,1995-09-05,0,20137,20137,0,118766,,NaT,ACEVEDO,0
4432,11967,ACEVEDO,ACEVEDO,ACEVEDO,JEFF,JEFF,0,,,,...,1995-02-06,0,19029,19029,0,112674,,NaT,ACEVEDO,0
4336,11966,ACEVEDO,ACEVEDO,ACEVEDO,JASON,JASON,0,M,M,,...,2002-07-29,0,11683,11683,0,112506,,NaT,ACEVEDO,0
4321,11965,ACEVEDO,ACEVEDO,ACEVEDO,JANETE,JANETE,0,,,,...,2009-12-16,0,12327,12327,0,112466,,NaT,ACEVEDO,0
3910,11964,ACEVEDO,ACEVEDO,ACEVEDO,ILIA,ILIA,0,,,,...,2013-05-01,0,10955,10955,0,110848,,NaT,ACEVEDO,0
3075,11963,ACEVEDO,ACEVEDO,ACEVEDO,ERIC,ERIC,0,A,A,,...,2015-02-02,0,13560,13560,0,108004,,NaT,ACEVEDO,0
2855,11962,ACEVEDO,ACEVEDO,ACEVEDO,EDWARD,EDWARD,0,,,,...,2003-10-27,0,4853,4853,0,107222,,NaT,ACEVEDO,0
1741,11961,ACEVEDO,ACEVEDO,ACEVEDO,CLARISSA,CLARISSA,0,,,,...,1986-12-22,0,9747,NaN,-1,104240,,2016-04-15,ACEVEDO,0
946,11960,ACEVEDO,ACEVEDO,ACEVEDO,BIENVENID,BIENVENID,0,,,,...,1999-03-08,0,6380,6380,0,102332,,NaT,ACEVEDO,0
162,11959,ACEVEDO,ACEVEDO,ACEVEDO,ALEJANDRO,ALEJANDRO,0,R,R,,...,2005-09-26,0,15760,15760,0,100397,,NaT,ACEVEDO,0
0,11958,ACEVEDO,ACEVEDO,ACEVEDO,AARON,AARON,0,F,F,,...,2009-12-16,0,7792,7792,0,100007,,NaT,ACEVEDO,0
10341,11957,ACCARDO,ACCARDO,ACCARDO,THOMAS,THOMAS,0,J,J,,...,2001-04-30,0,3392,3392,0,128642,,NaT,ACCARDO,0
4523,11956,ACCARDO,ACCARDO,ACCARDO,JENNIFER,JENNIFER,0,A,A,,...,2004-11-29,0,9248,9248,0,112821,,NaT,ACCARDO,0
7830,11954,ABURIZEG,ABURIZEG,ABURIZEG,MOHAMMAD,MOHAMMAD,0,R,R,,...,2015-08-31,0,NaN,10876,-1,121354,,NaT,ABURIZEG,0
2970,11953,ABUDAYEH,ABUDAYEH,ABUDAYEH,ELIAS,ELIAS,0,M,M,,...,2015-02-23,0,12960,12960,0,107787,,NaT,ABUDAYEH,0
3308,11952,ABRON,ABRON,ABRON,FLOYD,FLOYD,0,,,,...,1998-06-29,0,12861,12861,0,108553,,NaT,ABRON,0
3823,11951,ABRAMS,ABRAMS,ABRAMS,HENRY,HENRY,0,L,L,,...,1986-06-16,0,11485,11485,0,110488,,2016-05-22,ABRAMS,0
7884,11950,ABRAHAM,ABRAHAM,ABRAHAM,NANCY,NANCY,0,A,A,,...,2014-04-28,0,16579,16579,0,121458,,NaT,ABRAHAM,0
8242,11949,ABNEY,ABNEY,ABNEY,PATRICK,PATRICK,0,R,R,,...,2015-06-29,0,11360,11360,0,122296,,NaT,ABNEY,0
4335,11948,ABEJERO,ABEJERO,ABEJERO,JASON,JASON,0,V,V,,...,1999-10-25,0,14237,14237,0,112505,,NaT,ABEJERO,0
849,11947,ABDELMAJEID,ABDELMAJEID,ABDELMAJEID,AZIZ,AZIZ,0,,,,...,2008-04-28,0,14008,14008,0,101992,,NaT,ABDELMAJEID,0
11281,11945,ABDALLAH,ABDALLAH,ABDALLAH,ZAID,ZAID,0,F,F,,...,2012-11-30,0,17673,17673,0,131758,,NaT,ABDALLAH,0
10296,11944,ABBATE,ABBATE,ABBATE,TERRY,TERRY,0,M,M,,...,1995-12-04,0,19596,19596,0,128488,,NaT,ABBATE,0
5662,11943,AARON,AARON,AARON,KARINA,KARINA,0,,,,...,2005-09-26,0,13705,20373,1,116324,,NaT,AARON,0

In [62]:
all_merge[rel_columns][all_merge["employment_date_comp"]!=0]

Empty DataFrame
Columns: [id, last name, last_name, last_name_key_oos, first name, first_name, first_name_comp, middle initial, middle_initial, middle_initial2, middle_initial_comp, gender_oos, gender_cpdp, gender_comp, race_oos, race_cpdp, race_comp, birth year, birth_year, birth_year_comp, job title, current_rank, cleaned_rank, employment date, appointed_date, start_date, org_hire_date, employment_date_comp, badge number, current_star, badge_number_comp, UID, suffix_name, resignation_date, last_name_key_cpdp, last_name_comp]
Index: []

[0 rows x 36 columns]

In [63]:
all_merge[rel_columns][all_merge["badge_number_comp"]>0]

,id,last name,last_name,last_name_key_oos,first name,first_name,first_name_comp,middle initial,middle_initial,middle_initial2,...,org_hire_date,employment_date_comp,badge number,current_star,badge_number_comp,UID,suffix_name,resignation_date,last_name_key_cpdp,last_name_comp
3829,17748,LAI,LAI,LAI,HENRY,HENRY,0,H,H,,...,2010-09-01,0,16486,10025,1,110545,,NaT,LAI,0
3855,17730,LABOY JR,LABOY,LABOY,HERNAN,HERNAN,0,,,,...,1990-03-26,0,10920,19177,1,110669,JR,2017-05-15,LABOY,0
4189,17726,LABBE,LABBE,LABBE,JAMES,JAMES,0,C,C,,...,2001-07-30,0,1179,624,1,111778,,NaT,LABBE,0
7458,17691,KUMIGA,KUMIGA,KUMIGA,MICHAEL,MICHAEL,0,J,J,,...,2000-02-28,0,15998,2426,1,120562,,NaT,KUMIGA,0
2365,17688,KUMIEGA,KUMIEGA,KUMIEGA,DAVID,DAVID,0,J,J,,...,1998-08-31,0,21290,963,1,105676,,NaT,KUMIEGA,0
4186,17668,KUBIK,KUBIK,KUBIK,JAMES,JAMES,0,,,,...,1990-03-26,0,1397,757,1,111771,,NaT,KUBIK,0
5665,17655,KRUGER,KRUGER,KRUGER,KARL,KARL,0,D,D,,...,2006-05-22,0,17501,1505,1,116329,,NaT,KRUGER,0
7455,17654,KRUEGER,KRUEGER,KRUEGER,MICHAEL,MICHAEL,0,P,P,,...,2001-08-27,0,4529,20653,1,120554,,NaT,KRUEGER,0
6104,17639,KRIZKA,KRIZKA,KRIZKA,KRISTOPHE,KRISTOPHE,0,K,K,,...,2003-10-27,0,15972,20560,1,117251,,NaT,KRIZKA,0
9672,17630,KRAVITZ,KRAVITZ,KRAVITZ,SCOTT,SCOTT,0,D,D,,...,2006-08-28,0,2252,1046,1,127130,,NaT,KRAVITZ,0
8590,17625,KRASS,KRASS,KRASS,RACHEL,RACHEL,0,E,E,,...,2001-04-30,0,3362,20752,1,123349,,NaT,KRASS,0
10102,17576,KONOW,KONOW,KONOW,STEVEN,STEVEN,0,W,W,,...,1989-12-26,0,2003,286,1,128052,,NaT,KONOW,0
3247,17566,KOMOSA,KOMOSA,KOMOSA,EVAN,EVAN,0,J,J,,...,2008-07-28,0,7588,1588,1,108410,,NaT,KOMOSA,0
4184,17559,KOLODZIEJ,KOLODZIEJ,KOLODZIEJ,JAMES,JAMES,0,F,F,,...,1991-11-18,0,1218,496,1,111758,,NaT,KOLODZIEJ,0
6830,17541,KOCHAN,KOCHAN,KOCHAN,MARK,MARK,0,S,S,,...,1999-11-29,0,1316,761,1,119161,,NaT,KOCHAN,0
2360,17538,KOCH,KOCH,KOCH,DAVID,DAVID,0,A,A,,...,2013-03-15,0,7536,21133,1,105659,,NaT,KOCH,0
4180,17490,KIRCHENS,KIRCHENS,KIRCHENS,JAMES,JAMES,0,K,K,,...,2009-12-16,0,3337,20995,1,111748,,NaT,KIRCHENS,0
4178,17481,KINSELLA,KINSELLA,KINSELLA,JAMES,JAMES,0,B,B,,...,2006-01-23,0,10472,20472,1,111746,,NaT,KINSELLA,0
3999,17480,KINSELLA,KINSELLA,KINSELLA,JACQUELIN,JACQUELIN,0,M,M,,...,2002-12-02,0,7620,20760,1,111091,,NaT,KINSELLA,0
8304,17477,KINNEY,KINNEY,KINNEY,PATRICK,PATRICK,0,R,R,,...,2005-10-31,0,12614,20450,1,122477,,NaT,KINNEY,0
1112,17473,KINNANE,KINNANE,KINNANE,BRIAN,BRIAN,0,J,J,,...,2001-04-30,0,1120,576,1,102625,,NaT,KINNANE,0
9383,17451,KIMBLE,KIMBLE,KIMBLE,RONALD,RONALD,0,N,N,,...,1997-05-05,0,2174,199,1,126285,,NaT,KIMBLE,0
206,17445,KIM,KIM,KIM,ALEXANDER,ALEXANDER,0,B,B,,...,2004-04-26,0,16109,20153,1,100477,,NaT,KIM,0
2520,17434,KILLEN,KILLEN,KILLEN,DEBRA,DEBRA,0,A,A,,...,2013-03-05,0,7891,21464,1,106012,,NaT,KILLEN,0
883,17421,KHOUSHABA,KHOUSHABA,KHOUSHABA,BAZ,BAZ,0,G,G,,...,1993-12-13,0,20446,21844,1,102099,,NaT,KHOUSHABA,0
313,17407,KESSEM,KESSEM,KESSEM,AMELIA,AMELIA,0,A,A,,...,1999-03-08,0,8817,2190,1,100779,,NaT,KESSEM,0
1109,17405,KERSTEIN,KERSTEIN,KERSTEIN,BRIAN,BRIAN,0,W,W,,...,1996-07-08,0,19910,1311,1,102621,,NaT,KERSTEIN,0
7074,17401,KERLIN,KERLIN,KERLIN,MATTHEW,MATTHEW,0,D,D,,...,1999-07-12,0,17797,20617,1,119721,,NaT,KERLIN,0
5975,17379,KENDZIOR,KENDZIOR,KENDZIOR,KEVIN,KEVIN,0,G,G,,...,1997-05-05,0,1198,299,1,117022,,NaT,KENDZIOR,0
8299,17366,KELLY,KELLY,KELLY,PATRICK,PATRICK,0,C,C,,...,2010-09-01,0,12650,20707,1,122470,,NaT,KELLY,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6549,12336,ASSAF,ASSAF,ASSAF,MAJED,MAJED,0,,,,...,1991-11-18,0,1778,1440,1,118654,,NaT,ASSAF,0
8635,12326,ASCENCIO,ASCENCIO,ASCENCIO,RAMON,RAMON,0,F,F,,...,2006-12-18,0,5800,10589,1,123499,,NaT,ASCENCIO,0
8015,12298,ARGYROPOULOS,ARGYROPOULOS,ARGYROPOULOS,NICK,NICK,0,,,,...,2002-12-02,0,11537,3332,1,121765,,NaT,ARGYROPOULOS,0
7768,12288,ARELLANO,ARELLANO,ARELLANO,MIGUEL,MIGUEL,0,A,A,,...,1996-12-16,0,17016,19644,1,121223,,NaT,ARELLANO,0
8848,12268,ANTONSEN,ANTONSEN,ANTONSEN,RICHARD,RICHARD,0,,,,...,2003-02-24,0,19692,19270,1,124074,,NaT,ANTONSEN,0
2490,12254,ANGELO,ANGELO,ANGELO,DEAN,DEAN,0,C,C,,...,2006-12-18,0,11107,20929,1,105921,,NaT,ANGELO,0
8808,12227,ANDERSON,ANDERSON,ANDERSON,RHONDA,RHONDA,0,M,M,,...,2000-02-28,0,20875,1376,1,124008,,NaT,ANDERSON,0
6772,12203,ANDERSEN,ANDERSEN,ANDERSEN,MARK,MARK,0,A,A,,...,1990-03-26,0,1548,214,1,119067,,NaT,ANDERSEN,0
4570,12202,ANDERSEN,ANDERSEN,ANDERSEN,JEREMY,JEREMY,0,C,C,,...,2003-11-24,0,7268,20042,1,112899,,NaT,ANDERSEN,0
8471,12188,AMELIO,AMELIO,AMELIO,PETER,PETER,0,R,R,,...,2000-06-28,0,11341,1925,1,122951,,NaT,AMELIO,0
7237,12184,AMATO,AMATO,AMATO,MICHAEL,MICHAEL,0,,J,,...,2004-11-29,0,14196,20078,1,120036,,NaT,AMATO,0
8847,12173,ALVAREZ,ALVAREZ,ALVAREZ,RICHARD,RICHARD,0,D,D,,...,1988-09-12,0,1066,1968,1,124072,,NaT,ALVAREZ,0
4397,12163,ALVAREZ,ALVAREZ,ALVAREZ,JAVIER,JAVIER,0,A,A,,...,2013-11-04,0,17956,5001,1,112594,,NaT,ALVAREZ,0
698,12158,ALVAREZ,ALVAREZ,ALVAREZ,ANTONIO,ANTONIO,0,,,,...,1998-06-29,0,1337,1310,1,101633,,NaT,ALVAREZ,0
9576,12137,ALOISIO,ALOISIO,ALOISIO,SALVATORE,SALVATORE,0,D,D,,...,2011-10-17,0,12822,20082,1,126856,,NaT,ALOISIO,0
3263,12135,ALNEMRI,ALNEMRI,ALNEMRI,EYAD,EYAD,0,J,J,,...,2001-06-25,0,3952,859,1,108448,,NaT,ALNEMRI,0
3824,12113,ALLEN,ALLEN,ALLEN,HENRY,HENRY,0,C,C,,...,1998-08-31,0,14560,1450,1,110491,,NaT,ALLEN,0
7732,12081,ALEXA,ALEXA,ALEXA,MICHELENE,MICHELENE,0,A,A,,...,1991-12-16,0,805,254,1,121164,,NaT,ALEXA,0
4451,12072,ALDRICH,ALDRICH,ALDRICH,JEFFREY,JEFFREY,0,S,S,,...,1995-09-05,0,20359,1862,1,112711,,NaT,ALDRICH,0
3988,12071,ALDERDEN,ALDERDEN,ALDERDEN,JACOB,JACOB,0,M,M,,...,2001-02-05,0,1787,262,1,111061,,NaT,ALDERDEN,0
2983,12056,ALANIZ,ALANIZ,ALANIZ,ELIZABETH,ELIZABETH,0,,,,...,2000-06-19,0,14751,4715,1,107810,,NaT,ALANIZ,0
847,12042,AKINBUSUYI,AKINBUSUYI,AKINBUSUYI,AYOKUNLE,AYOKUNLE,0,,,,...,2007-07-30,0,7118,20033,1,101990,,NaT,AKINBUSUYI,0
30,12036,AICH,AICH,AICH,ABRAHAM,ABRAHAM,0,A,A,,...,2000-06-19,0,17176,19518,1,100063,,NaT,AICH,0
8630,12029,AGUIRRE,AGUIRRE,AGUIRRE,RAMIRO,RAMIRO,0,,,,...,2005-12-05,0,5459,2174,1,123492,,NaT,AGUIRRE,0
6768,11995,ADDUCI,ADDUCI,ADDUCI,MARK,MARK,0,A,A,,...,1991-12-02,0,757,1923,1,119063,,2016-05-02,ADDUCI,0
4600,11992,ADAMS JR,ADAMS,ADAMS,JERRY,JERRY,0,M,M,,...,1994-12-05,0,6233,6231,1,112993,JR,NaT,ADAMS,0
7028,11986,ADAMS,ADAMS,ADAMS,MATTHEW,MATTHEW,0,J,J,,...,2014-08-25,0,9186,14459,1,119656,,NaT,ADAMS,0
21,11955,ABUZANAT,ABUZANAT,ABUZANAT,ABDALLA,ABDALLA,0,H,H,,...,1998-06-29,0,15206,20777,1,100044,,NaT,ABUZANAT,0
5662,11943,AARON,AARON,AARON,KARINA,KARINA,0,,,,...,2005-09-26,0,13705,20373,1,116324,,NaT,AARON,0
4436,11942,AARON,AARON,AARON,JEFFERY,JEFFERY,0,M,M,,...,2005-09-26,0,13001,1424,1,112683,,NaT,AARON,0

# save

In [64]:
all_merge.to_csv("1_out_all_merged.csv", index=False)

In [65]:
all_matched_df.to_csv("1_out_merge_key.csv", index=False)