In [1]:
import pandas as pd
import dateutil
import numpy as np
import datetime
import re
pd.options.display.max_columns = 40

In [2]:
all_assignments=pd.read_csv("14532-P540798-InvisibleInstitute_DataInfoforallswornCPDofficers-UPDATEv2.csv",
                            parse_dates=["APPOINTED DATE", "END DATE", "EFFECTIVE DATE"],
                           dtype={"YEAR OF BIRTH": "Int64", "STAR NUMBER": "Int64"})

In [3]:
all_assignments["MIDDLE INITIAL"] = all_assignments["MIDDLE INITIAL"].fillna("").str.strip()
all_assignments["LAST NAME"] = all_assignments["LAST NAME"].str.strip()
all_assignments["FIRST NAME"] = all_assignments["FIRST NAME"].str.strip()

In [4]:
all_assignments.index.name="assignment_index"

In [5]:
all_assignments = all_assignments.reset_index().set_index("assignment_index", drop=False)

In [6]:
def date_minus_100_years(date):
    return datetime.datetime(date.year-100, date.month, date.day)

def fix_y2k(field):
    all_assignments[field] = all_assignments[field].apply(
        lambda x: date_minus_100_years(x) if not pd.isna(x) and x> pd.datetime.now() else x
    )

In [7]:
fix_y2k("APPOINTED DATE")

fix_y2k("END DATE")

fix_y2k("EFFECTIVE DATE")

In [8]:
def last_name_key(name):
    if name:
        n = re.sub(r"[^A-Z ]","",name.upper())
        pieces = n.split()
        if pieces[-1] in ["JR", "SR", "I", "II", "III", "IV"]:
            pieces = pieces[:-1]
        return "".join(pieces)
    return ""

In [9]:
all_assignments["last_name_key"] = all_assignments["LAST NAME"].apply(last_name_key)

In [10]:
all_assignments["END DATE"].fillna(pd.Timestamp.max, inplace=True)

In [11]:
all_assignments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35863 entries, 0 to 35862
Data columns (total 13 columns):
assignment_index    35863 non-null int64
FIRST NAME          35863 non-null object
MIDDLE INITIAL      35863 non-null object
LAST NAME           35863 non-null object
YEAR OF BIRTH       35863 non-null Int64
SEX                 35863 non-null object
RACE                35863 non-null object
APPOINTED DATE      35863 non-null datetime64[ns]
STAR TYPE           35863 non-null object
STAR NUMBER         35863 non-null Int64
EFFECTIVE DATE      35863 non-null datetime64[ns]
END DATE            35863 non-null datetime64[ns]
last_name_key       35863 non-null object
dtypes: Int64(2), datetime64[ns](3), int64(1), object(7)
memory usage: 3.9+ MB

In [12]:
keys = ["FIRST NAME", "last_name_key", "APPOINTED DATE", "YEAR OF BIRTH", "RACE", "SEX", "MIDDLE INITIAL"]

In [13]:
cops = all_assignments.groupby(keys).agg({"END DATE": "max", "STAR NUMBER": list, "assignment_index": list})

In [14]:
cops=cops.reset_index().reset_index()

In [15]:
cops.head()

,index,FIRST NAME,last_name_key,APPOINTED DATE,YEAR OF BIRTH,RACE,SEX,MIDDLE INITIAL,END DATE,STAR NUMBER,assignment_index
0,0,A RICHARD,LABRIOLA,1971-10-25,1943,WHITE,M,,2004-03-15 00:00:00.000000000,[15869],[17488]
1,1,AARON,ACEVEDO,2009-12-16,1982,HISPANIC,M,F,2262-04-11 23:47:16.854775807,"[7792, 20009]","[53, 54]"
2,2,AARON,ALLEY,2016-06-27,1985,BLACK,M,V,2262-04-11 23:47:16.854775807,[9516],[516]
3,3,AARON,ANDERSON,2017-10-16,1981,WHITE,M,,2262-04-11 23:47:16.854775807,[6550],[729]
4,4,AARON,ARMSTEAD,2005-12-05,1975,BLACK,M,P,2262-04-11 23:47:16.854775807,[13768],[1024]

In [16]:
cops["YEAR OF BIRTH"]=cops["YEAR OF BIRTH"].astype("Int64")

In [17]:
cops["index"]=cops["index"].astype("Int64")

In [18]:
cops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22916 entries, 0 to 22915
Data columns (total 11 columns):
index               22916 non-null Int64
FIRST NAME          22916 non-null object
last_name_key       22916 non-null object
APPOINTED DATE      22916 non-null datetime64[ns]
YEAR OF BIRTH       22916 non-null Int64
RACE                22916 non-null object
SEX                 22916 non-null object
MIDDLE INITIAL      22916 non-null object
END DATE            22916 non-null datetime64[ns]
STAR NUMBER         22916 non-null object
assignment_index    22916 non-null object
dtypes: Int64(2), datetime64[ns](2), object(7)
memory usage: 2.0+ MB

In [19]:
cpdp_profiles = pd.read_csv("final-profiles.csv",
                            dtype={4:"str", 15: "str", "birth_year": "Int64", "link_UID": "Int64",
                                  "current_status": "Int64", "current_star": "Int64",
                                  "current_unit": "Int64"},
                            parse_dates=["appointed_date", "resignation_date", "start_date", "org_hire_date"]
                           ).set_index("UID", drop=False)

In [20]:
cpdp_profiles.shape

(33693, 20)

In [21]:
cpdp_reduced = cpdp_profiles.loc[:133667].copy() # tail end does not match cpdp online data

In [22]:
cpdp_reduced["UID"]=cpdp_reduced["UID"].astype("Int64")

In [23]:
cpdp_reduced["last_name_key"] = cpdp_reduced["last_name"].apply(last_name_key)

In [24]:
cpdp_reduced["middle_initial"] = cpdp_reduced["middle_initial"].fillna("").str.strip()

In [25]:
cpdp_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33667 entries, 100001 to 133667
Data columns (total 21 columns):
UID                 33667 non-null Int64
first_name          33667 non-null object
last_name           33667 non-null object
middle_initial      33667 non-null object
middle_initial2     8 non-null object
suffix_name         1689 non-null object
birth_year          32562 non-null Int64
race                33477 non-null object
gender              33643 non-null object
appointed_date      33594 non-null datetime64[ns]
resignation_date    20194 non-null datetime64[ns]
current_status      31789 non-null Int64
current_star        15364 non-null Int64
current_unit        31606 non-null Int64
current_rank        31473 non-null object
start_date          18971 non-null datetime64[ns]
org_hire_date       19786 non-null datetime64[ns]
profile_count       33667 non-null int64
cleaned_rank        31473 non-null object
link_UID            33667 non-null Int64
last_name_key       33667 non-null object
dtypes: Int64(6), datetime64[ns](4), int64(1), object(10)
memory usage: 5.8+ MB

In [26]:
merge1=cops.merge(cpdp_reduced, left_on=["FIRST NAME", "last_name_key", "APPOINTED DATE", "YEAR OF BIRTH"],
                    right_on=["first_name", "last_name_key", "appointed_date", "birth_year"],
                   indicator=True, how="outer")

In [27]:
merge1.groupby("_merge").size()

_merge
left_only      2385
right_only    13133
both          20534
dtype: int64

In [28]:
s=merge1[["index"]].groupby("index").size()
merge1[merge1["index"].isin(s[s>1].index)]

,index,FIRST NAME,last_name_key,APPOINTED DATE,YEAR OF BIRTH,RACE,SEX,MIDDLE INITIAL,END DATE,STAR NUMBER,assignment_index,UID,first_name,last_name,middle_initial,middle_initial2,suffix_name,birth_year,race,gender,appointed_date,resignation_date,current_status,current_star,current_unit,current_rank,start_date,org_hire_date,profile_count,cleaned_rank,link_UID,_merge
8333,8333,JAMES,BANSLEY,2009-12-16,1983,WHITE,M,H,2262-04-11 23:47:16.854775807,[8791],[1535],111205,JAMES,BANSLEY,A,NaN,NaN,1983,WHITE,MALE,2009-12-16,NaT,1,10927,5,POLICE OFFICER,2009-12-16,2009-12-16,10.0,POLICE OFFICER,1262,both
8334,8333,JAMES,BANSLEY,2009-12-16,1983,WHITE,M,H,2262-04-11 23:47:16.854775807,[8791],[1535],111206,JAMES,BANSLEY,H,NaN,NaN,1983,WHITE,MALE,2009-12-16,NaT,1,8791,4,POLICE OFFICER,2009-12-16,2009-12-16,12.0,POLICE OFFICER,1263,both
18197,18196,ROBERT,ANDERSON,1970-01-19,1948,WHITE,M,M,2002-06-12 00:00:00.000000000,[8024],[801],124724,ROBERT,ANDERSON,M,NaN,NaN,1948,WHITE,MALE,1970-01-19,2002-06-15,0,NaN,128,POLICE OFFICER,NaT,NaT,3.0,POLICE OFFICER,589,both
18198,18196,ROBERT,ANDERSON,1970-01-19,1948,WHITE,M,M,2002-06-12 00:00:00.000000000,[8024],[801],124725,ROBERT,ANDERSON,J,NaN,NaN,1948,WHITE,MALE,1970-01-19,2009-04-29,0,NaN,16,POLICE OFFICER,NaT,NaT,3.0,POLICE OFFICER,620,both
18219,18217,ROBERT,BARRETT,1950-06-03,1926,WHITE,M,E,2262-04-11 23:47:16.854775807,[2010],[1718],124757,ROBERT,BARRETT,J,NaN,NaN,1926,WHITE,MALE,1950-06-03,1985-08-17,0,NaN,11,LIEUTENANT OF POLICE,NaT,NaT,4.0,LIEUTENANT,1406,both
18220,18217,ROBERT,BARRETT,1950-06-03,1926,WHITE,M,E,2262-04-11 23:47:16.854775807,[2010],[1718],124758,ROBERT,BARRETT,E,NaN,NaN,1926,WHITE,MALE,1950-06-03,1985-09-10,0,NaN,165,SERGEANT OF POLICE,NaT,NaT,3.0,SERGEANT,1401,both

In [29]:
drop_dup_merge = merge1[merge1["index"].isin(s[s>1].index) & (merge1["MIDDLE INITIAL"]!=merge1["middle_initial"])]

In [30]:
merge1.loc[drop_dup_merge.index, "_merge"] = "right_only"

In [31]:
unmatched_left=cops.loc[merge1[merge1["_merge"]=="left_only"]["index"]].copy()

In [32]:
unmatched_right = cpdp_reduced.loc[merge1[merge1["_merge"]=="right_only"]["UID"]].copy()

In [33]:
unmatched_right["middle_initial"].fillna("",inplace=True)

# Additional partial match

In [34]:
match_by_first_last_name = unmatched_left.merge(unmatched_right,
                    left_on=["FIRST NAME", "last_name_key"],
                    right_on=["first_name", "last_name_key"],
                                           indicator=True)

In [35]:
badge_number_match=match_by_first_last_name[
    ["current_star","STAR NUMBER"]].apply(lambda x: x[0] in x[1], axis=1)

In [36]:
confident_partial_match = match_by_first_last_name[
        (match_by_first_last_name["appointed_date"].isna()&
         match_by_first_last_name["birth_year"].isna()&
         match_by_first_last_name["middle_initial"] == match_by_first_last_name["MIDDLE INITIAL"])
    |(
         (match_by_first_last_name["appointed_date"]==match_by_first_last_name["APPOINTED DATE"]) &
         (match_by_first_last_name["middle_initial"] == match_by_first_last_name["MIDDLE INITIAL"]))
    |(
        (badge_number_match)&
        (
            match_by_first_last_name["birth_year"].isna() |
            (abs(match_by_first_last_name["birth_year"]-match_by_first_last_name["YEAR OF BIRTH"])<=1)
        )
    )]

In [37]:
len(confident_partial_match)

1018

# Generate merge df

In [38]:
merge_table = merge1[merge1["_merge"]=="both"][["index", "UID"]].append(
    confident_partial_match[["index", "UID"]],
    ignore_index=True)

In [39]:
merge_table.shape

(21549, 2)

In [40]:
merge_table["UID"].is_unique

True

In [41]:
merge_table["index"].is_unique

True

In [42]:
len(cops)-len(merge_table)  # number cops not in cpdp

1367

# store tables

In [43]:
col = []
for idx, val in cops["assignment_index"].iteritems():
    for v in val:
        col+=[(idx, v)]
assignment_cop_table = pd.DataFrame.from_records(col, columns=["cops_index","assignment_index"])

In [44]:
assignment_cop_table

       cops_index  assignment_index
0               0             17488
1               1                53
2               1                54
3               2               516
4               3               729
5               4              1024
6               5              3882
7               6              4541
8               6              4542
9               6              4543
10              7              5086
11              8              5106
12              8              5107
13              8              5108
14              9              5606
15              9              5607
16              9              5608
17             10              6287
18             11              6653
19             11              6654
20             11              6655
21             12              7060
22             13              7217
23             14              7464
24             14              7465
25             14              7466
26             14              7467
27             14              7468
28             15              9797
29             16             10507
...           ...               ...
35833       22896              7215
35834       22897             26148
35835       22898             21350
35836       22898             21351
35837       22899             19838
35838       22900             30392
35839       22900             30393
35840       22900             30394
35841       22901              6762
35842       22901              6763
35843       22902             23031
35844       22903             34836
35845       22904             21877
35846       22905             34837
35847       22906             19984
35848       22907             12897
35849       22908             19402
35850       22909             30483
35851       22909             30484
35852       22910              1864
35853       22911             35574
35854       22912             22333
35855       22912             22334
35856       22913             34838
35857       22914             21622
35858       22914             21623
35859       22914             21624
35860       22914             21625
35861       22914             21626
35862       22915             20033

[35863 rows x 2 columns]

In [45]:
assignment_cop_table.to_csv("2_out_historic_roster_grouped_key.csv", index=False)

In [46]:
cops.to_csv("2_out_CPD_historic_roster_grouped.csv", index=False)

In [47]:
merge_table.to_csv("2_out_merge_cops_cpdp.csv", index=False)

In [48]:
all_assignments.index.name=""

In [49]:
all_assignments_grouped_key=all_assignments.merge(assignment_cop_table, on = "assignment_index",
                                                  left_index=False)

In [50]:
all_assignments_grouped_key.to_csv("2_out_CPD_historic_assignments_grouped.csv", index=False)