In [1]:
import pandas as pd
import dateutil
import numpy as np
import datetime
import re
from collections import OrderedDict
pd.options.display.max_columns = None

In [2]:
cpdp_profiles = pd.read_csv("final-profiles.csv",
                            dtype={4:"str", 15: "str", "birth_year": "Int64", "link_UID": "Int64",
                                  "current_status": "Int64", "current_star": "Int64",
                                  "current_unit": "Int64"},
                            parse_dates=["appointed_date", "resignation_date", "start_date", "org_hire_date"]
                           ).set_index("UID", drop=False)

In [3]:
cpdp_reduced = cpdp_profiles.loc[:133667].copy() # tail end does not match cpdp online data

In [4]:
cpdp_reduced["middle_initial"] = cpdp_reduced["middle_initial"].fillna("").str.strip()

In [5]:
cpdp_reduced["UID"]=cpdp_reduced["UID"].astype("Int64")

In [6]:
cpdp_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33667 entries, 100001 to 133667
Data columns (total 20 columns):
UID                 33667 non-null Int64
first_name          33667 non-null object
last_name           33667 non-null object
middle_initial      33667 non-null object
middle_initial2     8 non-null object
suffix_name         1689 non-null object
birth_year          32562 non-null Int64
race                33477 non-null object
gender              33643 non-null object
appointed_date      33594 non-null datetime64[ns]
resignation_date    20194 non-null datetime64[ns]
current_status      31789 non-null Int64
current_star        15364 non-null Int64
current_unit        31606 non-null Int64
current_rank        31473 non-null object
start_date          18971 non-null datetime64[ns]
org_hire_date       19786 non-null datetime64[ns]
profile_count       33667 non-null int64
cleaned_rank        31473 non-null object
link_UID            33667 non-null Int64
dtypes: Int64(6), datetime64[ns](4), int64(1), object(9)
memory usage: 5.6+ MB

In [7]:
current_prod=pd.read_csv(
    "Chicago_Police_Department_Officers.csv",
parse_dates=["employment date"], dtype={"birth year": "Int64", "badge number": "Int64"}
).set_index("id", drop=False)

In [8]:
current_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11941 entries, 17511 to 11942
Data columns (total 13 columns):
id                    11941 non-null int64
unique identifier     0 non-null float64
last name             11941 non-null object
first name            11941 non-null object
middle initial        9705 non-null object
suffix                0 non-null float64
gender                11941 non-null object
race                  11941 non-null object
birth year            9699 non-null Int64
employment date       11941 non-null datetime64[ns]
badge number          11755 non-null Int64
job title             11941 non-null object
most recent salary    0 non-null float64
dtypes: Int64(2), datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 1.3+ MB

In [9]:
current_prod["middle initial"] = current_prod["middle initial"].fillna("").str.strip()
current_prod["last name"] = current_prod["last name"].str.strip()
current_prod["first name"] = current_prod["first name"].str.strip()

In [10]:
all_assignments=pd.read_csv("2_out_CPD_historic_assignments_grouped.csv",
                            parse_dates=["APPOINTED DATE", "END DATE", "EFFECTIVE DATE"],
                           dtype={"YEAR OF BIRTH": "Int64", "STAR NUMBER": "Int64",
                                 "cops_index": "Int64"})

In [11]:
all_assignments["MIDDLE INITIAL"] = all_assignments["MIDDLE INITIAL"].fillna("").str.strip()
all_assignments["LAST NAME"] = all_assignments["LAST NAME"].str.strip()
all_assignments["FIRST NAME"] = all_assignments["FIRST NAME"].str.strip()

In [12]:
all_assignments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35863 entries, 0 to 35862
Data columns (total 14 columns):
assignment_index    35863 non-null int64
FIRST NAME          35863 non-null object
MIDDLE INITIAL      35863 non-null object
LAST NAME           35863 non-null object
YEAR OF BIRTH       35863 non-null Int64
SEX                 35863 non-null object
RACE                35863 non-null object
APPOINTED DATE      35863 non-null datetime64[ns]
STAR TYPE           35863 non-null object
STAR NUMBER         35863 non-null Int64
EFFECTIVE DATE      35863 non-null datetime64[ns]
END DATE            35863 non-null datetime64[ns]
last_name_key       35863 non-null object
cops_index          35863 non-null Int64
dtypes: Int64(3), datetime64[ns](3), int64(1), object(7)
memory usage: 3.9+ MB

In [13]:
cops = all_assignments.groupby("cops_index").agg({
    "FIRST NAME": "first", "MIDDLE INITIAL": "first", "LAST NAME": "first",
    "YEAR OF BIRTH": "first", "SEX": "first", "RACE": "first", "APPOINTED DATE": "first",
    "EFFECTIVE DATE": "min","END DATE": "max"
}).reset_index()

In [14]:
cops.head()

,cops_index,FIRST NAME,MIDDLE INITIAL,LAST NAME,YEAR OF BIRTH,SEX,RACE,APPOINTED DATE,EFFECTIVE DATE,END DATE
0,0,A RICHARD,,LABRIOLA,1943,M,WHITE,1971-10-25,1987-04-27,2004-03-15 00:00:00.000000000
1,1,AARON,F,ACEVEDO,1982,M,HISPANIC,2009-12-16,2010-06-14,2262-04-11 23:47:16.854775807
2,2,AARON,V,ALLEY,1985,M,BLACK,2016-06-27,2016-12-28,2262-04-11 23:47:16.854775807
3,3,AARON,,ANDERSON,1981,M,WHITE,2017-10-16,2018-04-27,2262-04-11 23:47:16.854775807
4,4,AARON,P,ARMSTEAD,1975,M,BLACK,2005-12-05,2006-04-19,2262-04-11 23:47:16.854775807

In [15]:
def last_name_key_suffix(name):
    if name:
        n = re.sub(r"[^A-Z ]","",name.upper())
        pieces = n.split()
        suffix=""
        if pieces[-1] in ["JR", "SR", "V", "II", "III", "IV"]:
            suffix = pieces[-1]
            pieces = pieces[:-1]
        return ("".join(pieces), suffix)
    return ("", "")

In [16]:
cops["suffix"]=cops["LAST NAME"].apply(lambda x: last_name_key_suffix(x)[1])

In [17]:
cops["last_name"]=cops["LAST NAME"].apply(lambda x: last_name_key_suffix(x)[0])

In [18]:
merge_prod_cpdp = pd.read_csv("1_out_merge_key.csv")

In [19]:
merge_prod_cpdp = merge_prod_cpdp.rename(columns={"left_idx": "prod_id", "right_idx": "UID"})

In [20]:
merge_prod_cpdp.head()

      UID  prod_id  score
0  100007    11958   11.0
1  100009    12301   11.5
2  100010    13227   11.5
3  100011    13436   10.0
4  100012    13642   11.5

In [21]:
merge_hist_cops_cpdp = pd.read_csv("2_out_merge_cops_cpdp.csv")

In [22]:
merge_hist_cops_cpdp.head()

   index     UID
0      0  100006
1      1  100007
2      2  100008
3      4  100009
4      5  100010

In [23]:
cpdp_reduced.index.name = ""

In [24]:
step1=cpdp_reduced[["UID"]].merge(merge_prod_cpdp[["UID", "prod_id"]].astype("Int64"), on="UID", how="left")

In [25]:
step2=cops[["cops_index"]].merge(merge_hist_cops_cpdp.astype("Int64"),how="left",
                           left_on="cops_index", right_on="index").drop("index",axis=1)

In [26]:
complete_merge_table = step1.merge(step2.astype("Int64"), on="UID", how="outer")

In [27]:
complete_merge_table

          UID  prod_id  cops_index
0      100001      NaN         NaN
1      100002      NaN         NaN
2      100003      NaN         NaN
3      100004      NaN         NaN
4      100005      NaN         NaN
5      100006      NaN           0
6      100007    11958           1
7      100008      NaN           2
8      100009    12301           4
9      100010    13227           5
10     100011    13436           6
11     100012    13642           7
12     100013    13649           8
13     100014    13844           9
14     100015    14098          10
15     100016    14232          11
16     100017    14311         NaN
17     100018    14360          12
18     100019    14419          13
19     100020      NaN          14
20     100021    15252          15
21     100022      NaN         NaN
22     100023      NaN         NaN
23     100024      NaN          17
24     100025    16658          19
25     100026    17501          21
26     100027    17937          22
27     100028      NaN          23
28     100029      NaN          24
29     100030      NaN          25
...       ...      ...         ...
35004     NaN      NaN       22373
35005     NaN      NaN       22511
35006     NaN      NaN       22526
35007     NaN      NaN       22585
35008     NaN      NaN       22594
35009     NaN      NaN       22643
35010     NaN      NaN       22712
35011     NaN      NaN       22774
35012     NaN      NaN       22784
35013     NaN      NaN       22788
35014     NaN      NaN       22792
35015     NaN      NaN       22795
35016     NaN      NaN       22798
35017     NaN      NaN       22801
35018     NaN      NaN       22802
35019     NaN      NaN       22804
35020     NaN      NaN       22805
35021     NaN      NaN       22807
35022     NaN      NaN       22814
35023     NaN      NaN       22832
35024     NaN      NaN       22836
35025     NaN      NaN       22841
35026     NaN      NaN       22844
35027     NaN      NaN       22857
35028     NaN      NaN       22862
35029     NaN      NaN       22870
35030     NaN      NaN       22874
35031     NaN      NaN       22886
35032     NaN      NaN       22892
35033     NaN      NaN       22899

[35034 rows x 3 columns]

In [28]:
complete_merge_table.columns

Index(['UID', 'prod_id', 'cops_index'], dtype='object')

In [29]:
complete_merge_table.notna().groupby(['UID', 'prod_id', 'cops_index']).size()

UID    prod_id  cops_index
False  False    True           1367
True   False    False         11367
                True          10359
       True     False           751
                True          11190
dtype: int64

In [30]:
_.reset_index()

     UID  prod_id  cops_index      0
0  False    False        True   1367
1   True    False       False  11367
2   True    False        True  10359
3   True     True       False    751
4   True     True        True  11190

In [31]:
oos_assignments = pd.read_csv("Chicago_Police_Department_Assignments.csv",
                             dtype={"badge number": "Int64", "unit id": "Int64"})

In [32]:
oos_assignments.any()

id                            True
officer id                    True
officer unique identifier    False
badge number                  True
job title                     True
start date                   False
end date                     False
unit id                       True
dtype: bool

In [33]:
oos_assignments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11949 entries, 0 to 11948
Data columns (total 8 columns):
id                           11949 non-null int64
officer id                   11949 non-null int64
officer unique identifier    0 non-null float64
badge number                 11763 non-null Int64
job title                    11949 non-null object
start date                   0 non-null float64
end date                     0 non-null float64
unit id                      4 non-null Int64
dtypes: Int64(2), float64(3), int64(2), object(1)
memory usage: 770.2+ KB

In [34]:
all_assignments.groupby("STAR TYPE").size()

STAR TYPE
CAPTAIN STAR         286
DETECTIVE STAR      3091
LIEUTENANT STAR     1202
SERGEANT STAR       3814
SWORN-PO STAR      27470
dtype: int64

In [35]:
cpdp_reduced.head()

,UID,first_name,last_name,middle_initial,middle_initial2,suffix_name,birth_year,race,gender,appointed_date,resignation_date,current_status,current_star,current_unit,current_rank,start_date,org_hire_date,profile_count,cleaned_rank,link_UID
,,,,,,,,,,,,,,,,,,,,
100001,100001,A,BRODERSON,F,NaN,NaN,1926,WHITE,MALE,1950-06-03,1980-03-10,0,NaN,NaN,NaN,NaT,NaT,3,NaN,2863
100002,100002,A,DALESSANDRO,A,NaN,NaN,1923,WHITE,MALE,1956-09-01,1979-10-18,0,NaN,NaN,NaN,NaT,NaT,3,NaN,6100
100003,100003,A,KIBURAS,J,NaN,NaN,1948,WHITE,MALE,1968-06-24,1980-10-01,0,NaN,NaN,NaN,NaT,NaT,3,NaN,14560
100004,100004,A,KUSTRA,J,NaN,NaN,1923,WHITE,MALE,1953-09-28,1980-10-01,0,NaN,NaN,NaN,NaT,NaT,3,NaN,15445
100005,100005,A,MC LAUGHLIN,R,NaN,NaN,1941,BLACK,MALE,1966-06-20,1986-09-16,0,NaN,123,POLICE OFFICER,NaT,NaT,3,POLICE OFFICER,18373

In [36]:
cpdp_reduced.groupby("current_rank").size()

current_rank
ASSISTANT SUPERINTENDENT        1
ASST DEPUTY SUP                25
ASST DIR NEWS AFFAIR            1
CAPTAIN OF POLICE             322
CHIEF                          29
CHIEF SYS PROG IS               1
CMDR                            3
CMDR TAFFIC ENFORCE             1
COMM NEIGHBORHOOD RE            2
COMM OF GENL SUPPORT            1
COMMANDER                     133
COMMANDER SPEC SERV             1
COMP TOOL MARK EXAM             1
COOR /INVESTIGATIONS            1
COOR SPEC EVENTS                2
COORDINATOR                     1
DEP CHIEF                      61
DEPUTY SUPT.                   23
DET                            16
DIR LABOR RELATIONS             1
DIR MGT/LAB AFFAIRS             1
DIR OF MOTOR MAINT              1
DIR PERSONNEL SERV              4
DIRECTOR OF CAPS                1
DIRECTOR OF RECORDS             1
DIST WATCH CO                   5
EXPL TECH 1                    50
EXPL TECH 3                     4
EXPLOSIVES TECH 2               1
EXTRADITION OFFICER             1
                            ...
PO AS SUPV POL INV              3
PO ASGN EVID. TECHNI          256
PO ASGN LATEN F/P EX           36
PO ASGN SUPV LAT FP            12
PO ASSG CANINE HANDL           55
PO ASSGN TRAFF SPEC            75
PO ASSIGN AS ARMORER            3
PO LEGAL OFF 1                  6
PO LEGAL OFF 2                  5
PO SUB ABUSE COUNSLR            3
PO/EXP DET CAN HAND            63
PO/FIELD TRNING OFF           341
PO/MARINE OFFICER              54
PO/MOUNTED PAT OFF.           188
POL FORENSIC INV I             93
POL FORENSIC INV II             5
POL FORENSIC INV III            2
POL LAB TECH 2                 21
POL LAB TECH 4                  3
POLICE AGENT                   77
POLICE ARTIST                   1
POLICE OFFICER              21191
POLICE TECHNICIAN               9
SERGEANT OF POLICE           3484
SERGEANT PER ARBITRA            1
SGT                             9
SGT ASSGN SEC SPEC              1
SR EVID TECH                   19
SUPT OF POLICE                  6
SUPT'S CHIEF OF STAFF           3
Length: 73, dtype: int64

In [37]:
cpdp_reduced.groupby("cleaned_rank").size()

cleaned_rank
ASSISTANT DEPUTY SUPERINTENDENT       25
ASSISTANT SUPERINTENDENT               1
CAPTAIN                              327
CHIEF                                 29
COMMANDER                            136
DEPUTY CHIEF                          61
DEPUTY SUPERINTENDENT                 23
DETECTIVE                           3067
DIRECTOR OF CAPS                       1
FIELD TRAINING OFFICER               341
FIRST DEPUTY SUPERINTENDENT            8
LIEUTENANT                           960
OTHER                                 24
POLICE OFFICER                     22966
SERGEANT                            3495
SUPERINTENDENT OF POLICE               6
SUPERINTENDENT'S CHIEF OF STAFF        3
dtype: int64

In [38]:
cpdp_profiles[cpdp_profiles["cleaned_rank"]=="OTHER"]

,UID,first_name,last_name,middle_initial,middle_initial2,suffix_name,birth_year,race,gender,appointed_date,resignation_date,current_status,current_star,current_unit,current_rank,start_date,org_hire_date,profile_count,cleaned_rank,link_UID
UID,,,,,,,,,,,,,,,,,,,,
100057,100057,ABEL,PRESAS,NaN,NaN,NaN,1946,HISPANIC,MALE,1966-11-14,2005-06-30,0,NaN,161,COMM OF GENL SUPPORT,NaT,1966-11-14,4,OTHER,22970
101858,101858,ARTHUR,PAHOLKE,R,NaN,NaN,1927,WHITE,MALE,1956-10-01,1987-04-01,0,NaN,177,COMP TOOL MARK EXAM,NaT,NaT,3,OTHER,21646
102412,102412,BRADFORD,WOODS,L,NaN,NaN,1949,WHITE,MALE,1970-06-15,2007-05-15,0,221,123,DIR PERSONNEL SERV,1970-06-15,1970-06-15,7,OTHER,31184
105500,105500,DAVID,COFFEY,E,NaN,NaN,1930,WHITE,MALE,1955-05-02,1985-09-01,0,NaN,151,CMDR TAFFIC ENFORCE,NaT,NaT,3,OTHER,4913
105536,105536,DAVID,DOUGHERTY,NaN,NaN,NaN,1948,WHITE,MALE,1973-10-22,2003-11-02,0,NaN,140,COOR SPEC EVENTS,NaT,1973-10-22,5,OTHER,7235
106535,106535,DOMINICK,FRIGO,J,NaN,NaN,1926,WHITE,MALE,1959-03-01,1986-06-01,0,NaN,140,COOR SPEC EVENTS,NaT,NaT,3,OTHER,9194
107017,107017,DUWAYNE,HORNUNG,R,NaN,NaN,1929,WHITE,MALE,1957-07-01,1988-08-01,0,NaN,122,MANAGER POL PAYROLL,NaT,NaT,3,OTHER,12548
108349,108349,EUGENE,NOLAN,A,NaN,NaN,1935,WHITE,MALE,1957-07-01,2000-04-16,0,NaN,142,DIR LABOR RELATIONS,NaT,NaT,3,OTHER,20585
110252,110252,HARLEY,SCHINKER,NaN,NaN,NaN,1947,WHITE,MALE,1969-09-08,2002-06-15,0,NaN,173,DIR OF MOTOR MAINT,NaT,NaT,3,OTHER,25645
110336,110336,HARRY,BLACKBURN,A,NaN,NaN,1921,WHITE,MALE,1946-04-01,1984-09-06,0,NaN,132,COMM NEIGHBORHOOD RE,NaT,NaT,3,OTHER,2092
113531,113531,JOHN,CODY,J,NaN,NaN,1920,WHITE,MALE,1946-05-06,1983-08-13,0,NaN,123,COORDINATOR,NaT,NaT,3,OTHER,4906
113921,113921,JOHN,HOLMES,L,NaN,NaN,1932,BLACK,MALE,1965-10-25,1993-04-15,0,NaN,179,POLICE ARTIST,NaT,NaT,3,OTHER,12451
114284,114284,JOHN,MORRISSEY,J,NaN,NaN,1924,WHITE,MALE,1947-10-07,1987-11-01,0,NaN,162,DIRECTOR OF RECORDS,NaT,NaT,3,OTHER,19719
114700,114700,JOHN,THOMAS,J,NaN,NaN,1918,WHITE,MALE,1946-03-18,1981-05-08,0,NaN,123,DIR PERSONNEL SERV,NaT,NaT,3,OTHER,28427
115193,115193,JOSEPH,BEAZLEY,P,NaN,NaN,1941,WHITE,MALE,1962-11-12,1992-06-22,0,NaN,127,ASST DIR NEWS AFFAIR,NaT,NaT,3,OTHER,1617
118365,118365,LOUIS,GADE,E,NaN,NaN,1941,WHITE,MALE,1967-10-23,2004-04-15,0,NaN,542,COMMANDER SPEC SERV,NaT,NaT,4,OTHER,9307
119445,119445,MARTIN,WARD,J,NaN,NaN,1948,WHITE,MALE,1976-10-18,1999-10-29,0,NaN,125,CHIEF SYS PROG IS,NaT,NaT,3,OTHER,30002
123469,123469,RALPH,STIGLICH,J,NaN,NaN,1937,WHITE,MALE,1961-01-30,1991-12-03,0,NaN,165,EXTRADITION OFFICER,NaT,NaT,3,OTHER,27563
124627,124627,RICHARD,WEDGBURY,A,NaN,NaN,1944,WHITE,MALE,1968-07-08,1999-07-16,0,NaN,129,DIR MGT/LAB AFFAIRS,NaT,NaT,3,OTHER,30288
125874,125874,ROBERT,WOOLDRIDGE,R,NaN,NaN,1920,BLACK,MALE,1974-06-01,1981-05-07,0,NaN,113,COOR /INVESTIGATIONS,NaT,NaT,3,OTHER,31224
128884,128884,THOMAS,FERRY,S,NaN,NaN,1935,WHITE,MALE,1966-06-06,1992-08-16,0,NaN,132,COMM NEIGHBORHOOD RE,NaT,NaT,3,OTHER,8437
129321,129321,THOMAS,SADLER,P,NaN,NaN,1940,WHITE,MALE,1970-09-14,1997-01-16,0,NaN,123,DIR PERSONNEL SERV,NaT,NaT,3,OTHER,25114
131289,131289,WILLIAM,NELLIGAN,M,NaN,NaN,1942,WHITE,MALE,1969-11-03,1998-07-01,0,NaN,124,PHYSICAL FITNES COOR,NaT,NaT,3,OTHER,20333
131343,131343,WILLIAM,POWERS,P,NaN,NaN,1951,WHITE,MALE,1973-06-04,2004-02-15,0,NaN,123,DIR PERSONNEL SERV,NaT,1973-06-04,6,OTHER,22920

In [39]:
set(oos_assignments["job title"])-set(cpdp_profiles["current_rank"])

{'GENERAL COUNSEL TO THE SUPERINTENDENT'}

In [40]:
clean_rank_dict = dict(cpdp_profiles[["current_rank", "cleaned_rank"]].itertuples(index=False))

In [41]:
set(clean_rank_dict.values())

{'ASSISTANT DEPUTY SUPERINTENDENT',
 'ASSISTANT SUPERINTENDENT',
 'CAPTAIN',
 'CHIEF',
 'COMMANDER',
 'DEPUTY CHIEF',
 'DEPUTY SUPERINTENDENT',
 'DETECTIVE',
 'DIRECTOR OF CAPS',
 'FIELD TRAINING OFFICER',
 'FIRST DEPUTY SUPERINTENDENT',
 'LIEUTENANT',
 'OTHER',
 'POLICE OFFICER',
 'SERGEANT',
 'SUPERINTENDENT OF POLICE',
 "SUPERINTENDENT'S CHIEF OF STAFF",
 nan}

In [42]:
all_assignments.groupby("STAR TYPE").size()

STAR TYPE
CAPTAIN STAR         286
DETECTIVE STAR      3091
LIEUTENANT STAR     1202
SERGEANT STAR       3814
SWORN-PO STAR      27470
dtype: int64

In [43]:
star_type_to_job_title = {"CAPTAIN STAR":'CAPTAIN',
 'DETECTIVE STAR': "DETECTIVE",
 'LIEUTENANT STAR': "LIEUTENANT",
 "SWORN-PO STAR": 'POLICE OFFICER',
 "SERGEANT STAR": 'SERGEANT',
}

In [44]:
sum(all_assignments["STAR TYPE"].isna())

0

In [45]:
all_assignments["cleaned_job"] = all_assignments["STAR TYPE"].apply(star_type_to_job_title.__getitem__)

In [46]:
all_assignments.head()

,assignment_index,FIRST NAME,MIDDLE INITIAL,LAST NAME,YEAR OF BIRTH,SEX,RACE,APPOINTED DATE,STAR TYPE,STAR NUMBER,EFFECTIVE DATE,END DATE,last_name_key,cops_index,cleaned_job
0,0,JEFFERY,M,AARON,1971,M,WHITE,2005-09-26,SWORN-PO STAR,13001,2006-02-22,2016-06-01 00:00:00.000000000,AARON,9198,POLICE OFFICER
1,1,JEFFERY,M,AARON,1971,M,WHITE,2005-09-26,SERGEANT STAR,1424,2016-06-01,2262-04-11 23:47:16.854775807,AARON,9198,SERGEANT
2,2,KARINA,,AARON,1980,F,HISPANIC,2005-09-26,SWORN-PO STAR,17545,2006-02-22,2012-09-02 00:00:00.000000000,AARON,11709,POLICE OFFICER
3,3,KARINA,,AARON,1980,F,HISPANIC,2005-09-26,SWORN-PO STAR,13705,2012-09-05,2017-04-14 00:00:00.000000000,AARON,11709,POLICE OFFICER
4,4,KARINA,,AARON,1980,F,HISPANIC,2005-09-26,DETECTIVE STAR,20373,2017-04-14,2262-04-11 23:47:16.854775807,AARON,11709,DETECTIVE

In [47]:
oos_assignments["cleaned_job"] = oos_assignments["job title"].apply(lambda x: clean_rank_dict.get(x,x))

In [48]:
oos_assignments.head()

,id,officer id,officer unique identifier,badge number,job title,start date,end date,unit id,cleaned_job
0,5574,17511,NaN,5,COMMANDER,NaN,NaN,NaN,COMMANDER
1,1,11942,NaN,13001,POLICE OFFICER,NaN,NaN,NaN,POLICE OFFICER
2,2,11943,NaN,13705,POLICE OFFICER,NaN,NaN,NaN,POLICE OFFICER
3,3,11944,NaN,19596,POLICE OFFICER,NaN,NaN,NaN,POLICE OFFICER
4,4,11945,NaN,17673,POLICE OFFICER,NaN,NaN,NaN,POLICE OFFICER

In [49]:
current_prod.groupby(["gender"]).size()

gender
F    2655
M    9286
dtype: int64

In [50]:
cpdp_profiles.groupby("gender").size()

gender
FEMALE     5779
MALE      27868
dtype: int64

In [51]:
cops.groupby("SEX").size()

SEX
F     5090
M    17826
dtype: int64

In [52]:
current_prod.groupby(["race"]).size()

race
AMER IND/ALASKAN NATIVE      36
ASIAN/PACIFIC ISLANDER      358
BLACK                      2683
UNKNOWN                       2
WHITE                      6180
WHITE HISPANIC             2682
dtype: int64

In [53]:
cpdp_profiles.groupby("race").size()

race
ASIAN/PACIFIC ISLANDER              539
BLACK                              7630
HISPANIC                           4579
NATIVE AMERICAN/ALASKAN NATIVE       66
WHITE                             20667
dtype: int64

In [54]:
cops.groupby("RACE").size()

RACE
AMER IND/ALASKAN NATIVE       58
ASIAN/PACIFIC ISLANDER       532
BLACK                       5170
BLACK HISPANIC                 7
HISPANIC                    2721
UNKNOWN                      174
WHITE                      12546
WHITE HISPANIC              1708
dtype: int64

In [55]:
(
    set(current_prod.groupby(["race"]).size().index)|
    set(cpdp_profiles.groupby("race").size().index)|
    set(cops.groupby("RACE").size().index)
)

{'AMER IND/ALASKAN NATIVE',
 'ASIAN/PACIFIC ISLANDER',
 'BLACK',
 'BLACK HISPANIC',
 'HISPANIC',
 'NATIVE AMERICAN/ALASKAN NATIVE',
 'UNKNOWN',
 'WHITE',
 'WHITE HISPANIC'}

In [56]:
def assignment(badge_number, job_title, start=None, end=None, id_=None, officer_id=None):
    # if end==pd.Timestamp.max:
    #    end = None
    return OrderedDict([("id", id_), ("officer_id", officer_id),
                        ("badge_number", badge_number), ("job_title", job_title),
                        ("start", start), ("end", end)])

def assignment_match(a, b):
    return ((pd.isna(b["badge_number"]) or b["badge_number"]==a["badge_number"])
        and (pd.isna(b["job_title"]) or b["job_title"]==a["job_title"]))

gender_str = {"MALE": "M", "FEMALE": "F", "M": "M", "F": "F"}
    
race_str = {'AMER IND/ALASKAN NATIVE': "NATIVE AMERICAN",
 'ASIAN/PACIFIC ISLANDER': "ASIAN",
 'BLACK': "BLACK",
 'BLACK HISPANIC': "HISPANIC",
 'HISPANIC': "HISPANIC",
 'NATIVE AMERICAN/ALASKAN NATIVE': "NATIVE AMERICAN",
 'UNKNOWN': None,
 'WHITE': "WHITE",
 'WHITE HISPANIC': "HISPANIC"}

suffix_str = {x:x for x in ["JR", "SR", "II", "III", "IV", "V"]}

def suffix_str(s):
    if pd.notna(s) and s.upper() in ["JR", "SR", "II", "III", "IV", "V"]:
        return s
    return None
    

def cop(first_name, last_name, middle, gender, race,
        employment_date, birth_year, last_employment_date, suffix=None, uid=None, id_=None):
    if last_employment_date==pd.Timestamp.max:
        last_employment_date = None
    return OrderedDict([("id", id_),("first_name", first_name), ("last_name", last_name),
                        ("middle_initial", middle),
           ("suffix", suffix_str(suffix)), ("gender", gender_str.get(gender, None)),
                        ("race", race_str.get(race, None)),
                        ("birth_year", birth_year),
           ("employment_date", employment_date), 
            ("last_employment_date", last_employment_date),("unique_internal_identifier", uid)])

def add_cop(c, d):
    for k in set(c.keys())|set(d.keys()):
        if pd.isna(c.get(k)):
            c[k] = d.get(k)
            
def fields_in_order(series, fields):
    return [series[f] for f in fields]

def cop_and_all_assignments(uid, prod_id, cops_index):
    if pd.notna(uid):
        cpdp_cop = cpdp_reduced.loc[uid]
        cop_dict = cop(*fields_in_order(cpdp_cop,["first_name", "last_name", "middle_initial", "gender",
                                          "race", "appointed_date", "birth_year",
                                          "resignation_date", "suffix_name","UID"]))
    else:
        cpdp_cop = None
        cop_dict = OrderedDict()

    if pd.notna(cops_index):
        hist_cop = cops.loc[cops_index]
        hist_cop_dict = cop(*fields_in_order(hist_cop, ["FIRST NAME", "last_name", "MIDDLE INITIAL",
                                           "SEX", "RACE", "APPOINTED DATE", "YEAR OF BIRTH",
                                           "END DATE", "suffix"]))
    else:
        hist_cop = None
        hist_cop_dict = OrderedDict()
        
    if pd.notna(prod_id):
        prod_cop = current_prod.loc[prod_id]
        cop_prod_id = prod_cop["id"]
    else:
        prod_cop = None
        if pd.notna(uid):
            cop_prod_id = "#U"+str(uid)
        elif pd.notna(cops_index):
            cop_prod_id = "#HA"+str(cops_index)
        else:
            raise Exception("No valid index")
    # print(cpdp_cop, prod_cop, hist_cop)
    
    
    add_cop(cop_dict, hist_cop_dict)
    cop_dict["id"] = cop_prod_id
    
    
    # Assignments
    assignments_df = all_assignments[all_assignments["cops_index"]==cops_index]
    assignments = [assignment(a["STAR NUMBER"], a["cleaned_job"], a["EFFECTIVE DATE"], a["END DATE"],
                             officer_id = cop_prod_id) for _, a in assignments_df.iterrows()]
    
    #print(assignments)
    # some cleanup happening here - assignments that overlap and have same badge number and job title
    # will be merged into one
    cleaning = {}
    for a in assignments:
        cleaning[(a["badge_number"], a["job_title"])] = []
    for a in assignments:
        cleaning[(a["badge_number"], a["job_title"])].append(a)
    reduced_assignments = []
    for value in cleaning.values():
        value.sort(key=lambda x: (x["start"], x["end"]))
        cur = None
        for a in value:
            if cur is None:
                cur = a
            else:
                if cur["end"]>=a["start"]:
                    cur["end"]=max(a["end"], cur["end"])
                else:
                    reduced_assignments.append(cur)
                    cur = a
        reduced_assignments.append(cur)
    assignments = reduced_assignments
    #done cleaning
    
    add_assignments = []
    if cpdp_cop is not None:
        add_assignments = [assignment(cpdp_cop["current_star"], cpdp_cop["cleaned_rank"],
                                      officer_id=cop_prod_id)]
    if prod_cop is not None:
        add_assignments_df = oos_assignments[oos_assignments["officer id"]==prod_id]
        # print(add_assignments_df)
        for _, a in add_assignments_df.iterrows():
            add_assignments.append(assignment(a["badge number"], a["cleaned_job"], id_=a["id"],
                                             officer_id=cop_prod_id))
    for add in add_assignments:
        match = [a for a in assignments if assignment_match(a, add)]
        if len(match)==0:
            if pd.notna(add["badge_number"]) or pd.notna(add["job_title"]):
                assignments.append(add)
        elif add["id"] is not None:
            match[0]["id"] = add["id"] # update one existing assignment
            
    for a in assignments:
        if a["end"] == pd.Timestamp.max:
            a["end"] = None
            
    links = []
    if (cpdp_cop is not None) and pd.notna(cpdp_cop["link_UID"]):
        link_uid = cpdp_cop["link_UID"]
        link = OrderedDict([("id",""), ("url",f"https://cpdp.co/officer/{link_uid}/"),
                           ("title","Officer's profile on CPDP"),("link_type","Link"),
                           ("author", "Citizens Police Data Project"), ("officer_ids",cop_prod_id)])
        links.append(link)
            
    return {"cop": cop_dict, "assignments": assignments, "links": links}

def create_tables(merge_table, department_name):
    cops = []
    assignments = []
    links=[]
    for val in merge_table.itertuples(index=False):
        #print(val)
        res = cop_and_all_assignments(*val)
        cops.append(res["cop"])
        assignments+=(res["assignments"])
        links+=res["links"]
    cops_df = pd.DataFrame.from_dict(cops)
    cops_df["id"]=cops_df["id"].astype("str")
    cops_df["unique_internal_identifier"] = cops_df["unique_internal_identifier"].apply(
            lambda x: str(int(float(x))) if pd.notna(x) else "")
    cops_df["birth_year"] = cops_df["birth_year"].astype("Int64")
    cops_df["department_name"] = department_name
    
    
    assignments_df = pd.DataFrame.from_dict(assignments)
    assignments_df.rename(columns={"start": "start_date", "end": "resign_date"}, inplace=True)
    assignments_df[["id", "badge_number"]]=assignments_df[["id", "badge_number"]].astype("Int64")
    
    
    return cops_df, assignments_df, pd.DataFrame.from_dict(links)

In [57]:
output_cops_df, output_assignments_df, links_df = create_tables(
    complete_merge_table, "Chicago Police Department")

In [58]:
output_cops_df.to_csv("3_out_CPD_officers.csv", index=False)

In [59]:
output_cops_df

,id,first_name,last_name,middle_initial,suffix,gender,race,birth_year,employment_date,last_employment_date,unique_internal_identifier,department_name
0,#U100001,A,BRODERSON,F,None,M,WHITE,1926,1950-06-03,1980-03-10,100001,Chicago Police Department
1,#U100002,A,DALESSANDRO,A,None,M,WHITE,1923,1956-09-01,1979-10-18,100002,Chicago Police Department
2,#U100003,A,KIBURAS,J,None,M,WHITE,1948,1968-06-24,1980-10-01,100003,Chicago Police Department
3,#U100004,A,KUSTRA,J,None,M,WHITE,1923,1953-09-28,1980-10-01,100004,Chicago Police Department
4,#U100005,A,MC LAUGHLIN,R,None,M,BLACK,1941,1966-06-20,1986-09-16,100005,Chicago Police Department
5,#U100006,A RICHARD,LABRIOLA,,None,M,WHITE,1943,1971-10-25,2004-03-15,100006,Chicago Police Department
6,11958,AARON,ACEVEDO,F,None,M,HISPANIC,1982,2009-12-16,NaT,100007,Chicago Police Department
7,#U100008,AARON,ALLEY,V,None,M,BLACK,1985,2016-06-27,NaT,100008,Chicago Police Department
8,12301,AARON,ARMSTEAD,P,None,M,BLACK,1975,2005-12-05,NaT,100009,Chicago Police Department
9,13227,AARON,BURNS,C,None,M,BLACK,1983,2013-06-03,NaT,100010,Chicago Police Department
10,13436,AARON,CARRANZA,R,None,M,HISPANIC,1980,2004-11-29,NaT,100011,Chicago Police Department
11,13642,AARON,CHAPPELL,V,None,M,BLACK,1984,2007-07-09,NaT,100012,Chicago Police Department
12,13649,AARON,CHATMAN,D,None,M,BLACK,1966,1990-08-27,NaT,100013,Chicago Police Department
13,13844,AARON,COBB,S,None,M,BLACK,1968,1996-12-02,NaT,100014,Chicago Police Department
14,14098,AARON,COTTON,,JR,M,BLACK,1965,1986-11-17,NaT,100015,Chicago Police Department
15,14232,AARON,CUNNINGHAM,B,None,M,WHITE,1967,1998-06-29,NaT,100016,Chicago Police Department
16,14311,AARON,DALY,M,None,M,WHITE,1984,2007-10-29,NaT,100017,Chicago Police Department
17,14360,AARON,DAVID,E,None,M,HISPANIC,1993,2015-08-31,NaT,100018,Chicago Police Department
18,14419,AARON,DAVIS,,III,M,BLACK,1967,2000-02-28,NaT,100019,Chicago Police Department
19,#U100020,AARON,DEL VALLE,,None,M,HISPANIC,1972,2000-08-14,2010-12-19,100020,Chicago Police Department
20,15252,AARON,FLEISCHHACKER,M,None,M,WHITE,1987,2013-11-04,NaT,100021,Chicago Police Department
21,#U100022,AARON,GIBSON,,None,M,BLACK,1949,1976-03-08,1998-04-03,100022,Chicago Police Department
22,#U100023,AARON,HART,A,None,M,BLACK,1927,1956-05-16,1986-07-01,100023,Chicago Police Department
23,#U100024,AARON,HESTER,P,None,M,BLACK,1985,2006-07-16,2015-02-09,100024,Chicago Police Department
24,16658,AARON,HOLTON,R,None,M,BLACK,1957,1990-03-26,2016-09-30,100025,Chicago Police Department
25,17501,AARON,KIZZIAH,L,None,M,WHITE,1965,1993-12-13,NaT,100026,Chicago Police Department
26,17937,AARON,LEVINE,M,None,M,WHITE,1982,2006-12-18,NaT,100027,Chicago Police Department
27,#U100028,AARON,LONG,E,None,M,BLACK,1969,1996-03-18,2004-02-29,100028,Chicago Police Department
28,#U100029,AARON,MAYO,E,None,M,BLACK,1967,1994-10-03,2002-04-09,100029,Chicago Police Department
29,#U100030,AARON,MCCLELLAND,D,None,M,BLACK,1990,2016-06-27,NaT,100030,Chicago Police Department
...,...,...,...,...,...,...,...,...,...,...,...,...
35004,#HA22373,WILLIAM,BARKER,J,None,M,WHITE,1991,2018-07-27,NaT,,Chicago Police Department
35005,#HA22511,WILLIAM,JAMESCORE,,None,M,BLACK,1992,2019-04-16,NaT,,Chicago Police Department
35006,#HA22526,WILLIAM,KENNEDY,D,None,M,None,1995,2018-03-16,NaT,,Chicago Police Department
35007,#HA22585,WILLIAM,MORAN,E,None,M,HISPANIC,1993,2018-03-16,2019-07-24,,Chicago Police Department
35008,#HA22594,WILLIAM,MULLENIX,J,None,M,WHITE,1984,2018-05-16,NaT,,Chicago Police Department
35009,#HA22643,WILLIAM,RIORDAN,O,None,M,WHITE,1997,2018-05-16,NaT,,Chicago Police Department
35010,#HA22712,WILLIAM,WALTER,J,None,M,WHITE,1992,2017-12-15,NaT,,Chicago Police Department
35011,#HA22774,WIOLETTA,STANISZEWSKA,A,None,F,WHITE,1992,2018-12-17,NaT,,Chicago Police Department
35012,#HA22784,XU,MENG,,None,M,ASIAN,1983,2018-08-27,NaT,,Chicago Police Department
35013,#HA22788,YAKIMBA,PHILLIPS,D,None,F,BLACK,1975,1999-08-02,NaT,,Chicago Police Department
35014,#HA22792,YAROSLAV,RAKOCHYY,,None,M,WHITE,1996,2018-04-16,NaT,,Chicago Police Department
35015,#HA22795,YASMIN,DUARTE,,None,F,HISPANIC,1991,2018-10-29,NaT,,Chicago Police Department
35016,#HA22798,YASMINE,LAPLANCHEDIXON,N,None,F,BLACK,1996,2019-02-19,NaT,,Chicago Police Department
35017,#HA22801,YESENIA,BUCIO,,None,F,HISPANIC,1990,2018-09-27,NaT,,Chicago Police Department
35018,#HA22802,YESENIA,CONTRERAS,,None,F,HISPANIC,1988,2018-09-27,NaT,,Chicago Police Department
35019,#HA22804,YESENIA,GALVAN,,None,F,None,1993,2018-12-27,NaT,,Chicago Police Department
35020,#HA22805,YESENIA,MEDINAREIGHTER,,None,F,HISPANIC,1980,2007-07-09,NaT,,Chicago Police Department
35021,#HA22807,YESENIA,ROJAS,G,None,F,HISPANIC,1991,2018-03-16,NaT,,Chicago Police Department
35022,#HA22814,YOLANDA,ALCARAZ,,None,F,HISPANIC,1984,2018-07-27,NaT,,Chicago Police Department
35023,#HA22832,YOLANDA,WALTON,R,None,F,BLACK,1971,2005-12-05,NaT,,Chicago Police Department
35024,#HA22836,YOUSEF,ALMARU,F,None,M,None,1987,2018-09-27,NaT,,Chicago Police Department
35025,#HA22841,YURIY,BILERA,,None,M,HISPANIC,1983,2018-09-27,NaT,,Chicago Police Department
35026,#HA22844,YVETTE,CRUZ,G,None,F,None,1983,2018-12-27,NaT,,Chicago Police Department
35027,#HA22857,YVONNE,MCKINNEY,N,None,F,BLACK,1979,2018-08-27,NaT,,Chicago Police Department
35028,#HA22862,ZABI,MOHAMMED,,None,M,ASIAN,1992,2019-05-16,NaT,,Chicago Police Department
35029,#HA22870,ZACHARY,GENTLE,L,None,M,BLACK,1993,2018-06-25,2019-07-24,,Chicago Police Department
35030,#HA22874,ZACHARY,MCCLANAHAN,P,None,M,WHITE,1993,2018-12-17,NaT,,Chicago Police Department
35031,#HA22886,ZACHARY,TAUSBARTH,L,None,M,WHITE,1995,2018-09-27,NaT,,Chicago Police Department
35032,#HA22892,ZAIRA,RODRIGUEZ,,None,F,HISPANIC,1991,2018-12-27,NaT,,Chicago Police Department
35033,#HA22899,ZAYRA,MARTINEZ,M,None,F,HISPANIC,1989,2018-06-25,NaT,,Chicago Police Department

In [60]:
output_assignments_df.to_csv("3_out_CPD_assignments.csv", index=False)

In [61]:
output_assignments_df

,id,officer_id,badge_number,job_title,start_date,resign_date
0,NaN,#U100005,NaN,POLICE OFFICER,NaT,NaT
1,NaN,#U100006,15869,POLICE OFFICER,1987-04-27,2004-03-15
2,17,11958,7792,POLICE OFFICER,2010-06-14,2018-11-02
3,NaN,11958,20009,DETECTIVE,2018-11-02,NaT
4,NaN,#U100008,9516,POLICE OFFICER,2016-12-28,NaT
5,360,12301,13768,POLICE OFFICER,2006-04-19,NaT
6,1288,13227,4534,POLICE OFFICER,2013-11-12,NaT
7,NaN,13436,13693,POLICE OFFICER,2005-05-24,2016-02-01
8,1497,13436,2349,SERGEANT,2016-02-03,2017-02-24
9,NaN,13436,1140,SERGEANT,2017-02-24,NaT
10,1703,13642,8742,POLICE OFFICER,2007-11-14,NaT
11,NaN,13642,8742,FIELD TRAINING OFFICER,NaT,NaT
12,NaN,13649,16451,POLICE OFFICER,1998-04-01,2000-08-31
13,1710,13649,21313,DETECTIVE,2000-08-31,2016-06-01
14,NaN,13649,1245,SERGEANT,2016-06-01,NaT
15,NaN,13844,19133,POLICE OFFICER,1997-05-12,2007-03-30
16,1905,13844,20475,DETECTIVE,2007-03-30,2017-12-15
17,NaN,13844,1041,SERGEANT,2017-12-15,NaT
18,NaN,13844,1041,DETECTIVE,NaT,NaT
19,2161,14098,11867,POLICE OFFICER,1986-11-17,NaT
20,NaN,14232,15522,POLICE OFFICER,1998-11-17,2004-09-13
21,NaN,14232,15522,POLICE OFFICER,2004-10-05,2013-02-07
22,2295,14232,10758,POLICE OFFICER,2013-02-07,NaT
23,2371,14311,9118,POLICE OFFICER,NaT,NaT
24,2423,14360,18491,POLICE OFFICER,2016-03-02,NaT
25,2482,14419,14470,POLICE OFFICER,2000-06-30,NaT
26,NaN,#U100020,9225,POLICE OFFICER,2001-01-11,2001-09-19
27,NaN,#U100020,9225,POLICE OFFICER,2006-08-28,2010-12-19
28,3315,15252,17974,POLICE OFFICER,2014-04-17,NaT
29,NaN,#U100022,NaN,POLICE OFFICER,NaT,NaT
...,...,...,...,...,...,...
44724,NaN,#HA22594,7636,POLICE OFFICER,2018-11-29,NaT
44725,NaN,#HA22643,13696,POLICE OFFICER,2018-11-29,NaT
44726,NaN,#HA22712,19145,POLICE OFFICER,2018-06-27,NaT
44727,NaN,#HA22774,13046,POLICE OFFICER,2019-07-26,NaT
44728,NaN,#HA22784,19343,POLICE OFFICER,2019-03-14,NaT
44729,NaN,#HA22788,14707,POLICE OFFICER,1999-12-21,2017-12-15
44730,NaN,#HA22788,1374,SERGEANT,2017-12-15,NaT
44731,NaN,#HA22792,5643,POLICE OFFICER,2018-10-25,NaT
44732,NaN,#HA22795,6256,POLICE OFFICER,2019-05-17,NaT
44733,NaN,#HA22798,18046,POLICE OFFICER,2019-08-30,NaT
44734,NaN,#HA22801,6810,POLICE OFFICER,2019-04-18,NaT
44735,NaN,#HA22802,4634,POLICE OFFICER,2019-04-17,NaT
44736,NaN,#HA22804,4043,POLICE OFFICER,2019-07-26,NaT
44737,NaN,#HA22805,18372,POLICE OFFICER,2007-11-14,2014-07-21
44738,NaN,#HA22805,18375,POLICE OFFICER,2014-07-21,NaT
44739,NaN,#HA22807,18725,POLICE OFFICER,2018-10-05,NaT
44740,NaN,#HA22814,7800,POLICE OFFICER,2019-02-07,NaT
44741,NaN,#HA22832,15366,POLICE OFFICER,2006-04-19,2008-09-12
44742,NaN,#HA22832,5511,POLICE OFFICER,2008-09-12,2017-12-15
44743,NaN,#HA22832,1183,SERGEANT,2017-12-15,NaT
44744,NaN,#HA22836,5327,POLICE OFFICER,2019-04-18,NaT
44745,NaN,#HA22841,5387,POLICE OFFICER,2019-04-18,NaT
44746,NaN,#HA22844,7727,POLICE OFFICER,2019-07-25,NaT
44747,NaN,#HA22857,17271,POLICE OFFICER,2019-03-13,NaT
44748,NaN,#HA22862,18605,POLICE OFFICER,2019-11-26,NaT
44749,NaN,#HA22870,5016,POLICE OFFICER,2019-01-02,2019-07-24
44750,NaN,#HA22874,4898,POLICE OFFICER,2019-07-26,NaT
44751,NaN,#HA22886,4825,POLICE OFFICER,2019-04-18,NaT
44752,NaN,#HA22892,4189,POLICE OFFICER,2019-07-26,NaT
44753,NaN,#HA22899,5411,POLICE OFFICER,2019-01-03,NaT

In [62]:
links_df.to_csv("3_out_CPD_links.csv", index=False)

In [63]:
links_df

,id,url,title,link_type,author,officer_ids
0,,https://cpdp.co/officer/2863/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100001
1,,https://cpdp.co/officer/6100/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100002
2,,https://cpdp.co/officer/14560/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100003
3,,https://cpdp.co/officer/15445/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100004
4,,https://cpdp.co/officer/18373/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100005
5,,https://cpdp.co/officer/15521/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100006
6,,https://cpdp.co/officer/56/,Officer's profile on CPDP,Link,Citizens Police Data Project,11958
7,,https://cpdp.co/officer/411/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100008
8,,https://cpdp.co/officer/834/,Officer's profile on CPDP,Link,Citizens Police Data Project,12301
9,,https://cpdp.co/officer/3412/,Officer's profile on CPDP,Link,Citizens Police Data Project,13227
10,,https://cpdp.co/officer/3978/,Officer's profile on CPDP,Link,Citizens Police Data Project,13436
11,,https://cpdp.co/officer/4423/,Officer's profile on CPDP,Link,Citizens Police Data Project,13642
12,,https://cpdp.co/officer/4443/,Officer's profile on CPDP,Link,Citizens Police Data Project,13649
13,,https://cpdp.co/officer/4879/,Officer's profile on CPDP,Link,Citizens Police Data Project,13844
14,,https://cpdp.co/officer/5520/,Officer's profile on CPDP,Link,Citizens Police Data Project,14098
15,,https://cpdp.co/officer/5913/,Officer's profile on CPDP,Link,Citizens Police Data Project,14232
16,,https://cpdp.co/officer/6131/,Officer's profile on CPDP,Link,Citizens Police Data Project,14311
17,,https://cpdp.co/officer/6258/,Officer's profile on CPDP,Link,Citizens Police Data Project,14360
18,,https://cpdp.co/officer/6388/,Officer's profile on CPDP,Link,Citizens Police Data Project,14419
19,,https://cpdp.co/officer/6618/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100020
20,,https://cpdp.co/officer/8703/,Officer's profile on CPDP,Link,Citizens Police Data Project,15252
21,,https://cpdp.co/officer/9932/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100022
22,,https://cpdp.co/officer/11577/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100023
23,,https://cpdp.co/officer/12116/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100024
24,,https://cpdp.co/officer/12484/,Officer's profile on CPDP,Link,Citizens Police Data Project,16658
25,,https://cpdp.co/officer/14763/,Officer's profile on CPDP,Link,Citizens Police Data Project,17501
26,,https://cpdp.co/officer/16115/,Officer's profile on CPDP,Link,Citizens Police Data Project,17937
27,,https://cpdp.co/officer/16458/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100028
28,,https://cpdp.co/officer/17836/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100029
29,,https://cpdp.co/officer/18544/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U100030
...,...,...,...,...,...,...
33637,,https://cpdp.co/officer/33648/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133638
33638,,https://cpdp.co/officer/33649/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133639
33639,,https://cpdp.co/officer/33650/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133640
33640,,https://cpdp.co/officer/33651/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133641
33641,,https://cpdp.co/officer/33652/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133642
33642,,https://cpdp.co/officer/33653/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133643
33643,,https://cpdp.co/officer/33654/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133644
33644,,https://cpdp.co/officer/33655/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133645
33645,,https://cpdp.co/officer/33656/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133646
33646,,https://cpdp.co/officer/33657/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133647
33647,,https://cpdp.co/officer/33658/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133648
33648,,https://cpdp.co/officer/33659/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133649
33649,,https://cpdp.co/officer/33660/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133650
33650,,https://cpdp.co/officer/33661/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133651
33651,,https://cpdp.co/officer/33662/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133652
33652,,https://cpdp.co/officer/33663/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133653
33653,,https://cpdp.co/officer/33664/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133654
33654,,https://cpdp.co/officer/33665/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133655
33655,,https://cpdp.co/officer/33666/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133656
33656,,https://cpdp.co/officer/33667/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133657
33657,,https://cpdp.co/officer/33668/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133658
33658,,https://cpdp.co/officer/33669/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133659
33659,,https://cpdp.co/officer/33670/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133660
33660,,https://cpdp.co/officer/33671/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133661
33661,,https://cpdp.co/officer/33672/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133662
33662,,https://cpdp.co/officer/33673/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133663
33663,,https://cpdp.co/officer/33674/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133664
33664,,https://cpdp.co/officer/33675/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133665
33665,,https://cpdp.co/officer/33676/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133666
33666,,https://cpdp.co/officer/33677/,Officer's profile on CPDP,Link,Citizens Police Data Project,#U133667